[2015-10-24 13:08] ewoutp opened #3 "Default project name to folder name"
Adding a new project can be made quicker.
When adding a path, I would like the last part of the path to be used as default project name.

E.g. when adding path "/home/me/myproject" set project name to "myproject" (when it was empty).

[2015-10-24 13:16] jccguimaraes commented on #3
thought about it! will make it happen! thankz for the heads up

[2015-10-24 13:20] ewoutp commented on #3
Great!

[2015-10-24 23:34] jccguimaraes commented on #3
Took a little while because the element atom-text-editor as an input has it's own behaviours. I am trying to finish the edit groups/projects and deploy with this feature. Don't know when though. I can commit now if you find it useful meanwhile. Cheers.

[2015-10-25 08:59] ewoutp commented on #3
If it is an easy deployment, I would appreciate it.
Otherwise I'll wait.

[2015-10-25 14:08] #3 closed

[2015-10-25 15:20] ewoutp commented on #3
Works great.
Thanks!

[2015-10-26 12:49] jccguimaraes commented on #3
:+1:

[2015-10-26 13:05] ewoutp opened #4 "Keep last used group expanded"
Every time I get back to the project-viewer (I have it open all the time) the project groups are collapsed.
It would be really nice if the last opened group could stay expanded.

[2015-10-26 17:19] jccguimaraes commented on #4
thanks for the input! will look at it

[2015-10-28 23:11] #4 closed

[2015-10-29 10:57] jccguimaraes opened #5 "Broken the project"
currently I have broken the project :-1:
will fix it today. sorry!

[2015-10-29 11:40] luca85perez opened #6 "Uncaught TypeError: Arguments to path.join must be strings"
Error adding a new project.

**Atom Version**: 1.0.19
**System**: Unknown Windows Version
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.8

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-29 13:22] jccguimaraes commented on #6
thanks for the input, will look at it. currently made some changes that bugged everything! :)
hang on please

[2015-10-29 20:34] #6 closed

[2015-10-29 20:35] jccguimaraes commented on #6
please check if this continues to occur.

[2015-10-29 21:37] luca85perez commented on #6
No, it's working fine. Thanks!

[2015-10-29 23:01] jccguimaraes commented on #6
nice! :+1:

[2015-10-30 16:57] jccguimaraes commented on #5
major issues have been fixed

[2015-10-30 16:57] #5 closed

[2015-11-03 17:06] henryallsuch opened #7 "Expanded Project Folders"
Is there a way to have projects open with their folders collapsed? I tend to have lots of project folders, so when I open a project it would be good if they were as so:

![screenshot 2015-11-03 11 06 18](https://cloud.githubusercontent.com/assets/889616/10915128/f3e99a18-821a-11e5-8d66-67eec0f28509.jpg)

Thanks!

[2015-11-03 18:53] jccguimaraes commented on #7
Hi,
I have to look at the tree-view plugin if that's possible.
Thanks for the input!

[2015-11-05 16:37] henryallsuch commented on #7
Sure! Thanks! I will also investigate.

[2015-11-05 16:54] jccguimaraes commented on #7
working on a hacky stuff.

[code]

this has a reference to all directories collapse/expand states.

need to make some tests

[2015-11-05 20:32] tujoworker opened #8 "Edit Projects Manually"
Hi!

this project manager looks way better than all the others.
But I came across an issue I hope You find time to fix.

Once I Edit the file project-viewer.json - the projects/groups are not vissible in the sidebar:

![skjermbilde 2015-11-05 kl 21 28 21](https://cloud.githubusercontent.com/assets/1501870/10980813/4806c3d8-8404-11e5-9e9a-a1b4b69f596c.png)

When I then Add a new Group through the s

[2015-11-05 20:39] tujoworker commented on #8
My fault! I missed a coma in one path line. This fucks things up ...

[2015-11-05 20:39] #8 closed

[2015-11-05 23:05] jccguimaraes commented on #8
thanks for the input thought.
well that failsafe if file "is corrupt" add the content from the the project viewer, can erase everything just for a simple missing coma... maybe i should remove that.

what do you think?

[2015-11-06 07:13] tujoworker commented on #8
Leaving a different message than only an "empty" message would be good! - in case you can check that there is corrupt content in the file.

[2015-11-08 14:56] jccguimaraes commented on #7
Hey @henryallsuch,
Just to make sure of one thing. When you say, "have project folders collapsed", you're saying the project root itself or it's children?

[code]
or
[code]

Thanks

[2015-11-10 16:47] vooor opened #9 "tabs are broken when using project-viewer"
I like the approach you have on this project but there is a big problem when I use it with the tabs and file opened :

When I open a file from the tree explorer or from a ctrl+t the file won't display. The file will actually be opened and I can switch to it via a ctrl+b but it won't show by itself. More than this the file won't appear in the tab bar, (the only thing I can have in the tab bar is ac

[2015-11-10 17:35] jccguimaraes commented on #9
Hi,

Am also experiencing some issues with the buffer files. :/

I am just finishing the edit projects and was counting on trying to fix
these issues.

Will sure take your feedback to help me understand what went wrong!

Thanks for the positive feedback.

Please add more feedback.

A ter, 10/11/2015, 16:47, vooor <notifications@github.com> escreveu:

[2015-11-10 21:28] henryallsuch commented on #7
Hello, I was hoping for the first example, as I often have multiple root folders, if it could remember previous state, that might be a easier or harder I am not sure.

[code]
Thanks!

[2015-11-10 22:20] jccguimaraes commented on #7
Hi,

Made it possible! Just finishing editing projects to commit recent changes.

:)

[2015-11-11 03:29] henryallsuch commented on #7
Awesome!

[2015-11-11 12:34] #7 closed

[2015-11-12 22:02] jccguimaraes opened #10 "refactor project"
Been having too much bugs and commit fixes due to the fast growth of the package.
Will be refactoring all and properly add unit tests to minimise these issues.

Please create issues if you find any bugs.

[2015-11-12 22:13] jccguimaraes commented on #9
hi @vooor,

can you please confirm if this issue still exists?
Have been opening files and switching between them just like you described and haven't found any problems so far.

Would appreciate that.
Thanks.

[2015-11-13 09:41] vooor commented on #9
Hi,

I updated and restarted. it's better but sadly it's not completly fixed : when I open a file the buffer is opened and shown (which is a progress) but the tab bar is still empty of any file.

[2015-11-17 08:42] vooor commented on #9
perhaps is that because of windows's paths ?

Here is an example of the kind of error I have :

[code]

[2015-11-17 09:09] vooor commented on #9
this path in lib/database.js at line 89 seem enough to fix it for me :
[code]
instead of
[code]

[2015-11-17 09:18] #9 closed

[2015-11-17 09:21] vooor commented on #9
I tryed to do a PR for you but you were faster than me. Thanks a lot :)

[2015-11-17 09:23] jccguimaraes commented on #9
:) sorry about that ahahah.
Hope it fixes it! don't know why i used the search in the first place!
keep abusing it and report anything please

[2015-11-22 19:55] skratchdot opened #11 "Performance Issue: config.projects.paths grows / dupe entries?"
If I edit my config to be:
[code]

Then I start to use the program, my config will eventually look like:
[code]
Notice that `projects.paths.1` contains `project.paths.0` and `projects.paths.1`.  This becomes a performance issue when I try to add 50 paths because `projects.paths.49` contains entries `projects.paths.0` - `projects.paths.49`.

Is there a reason for these dupe entries, or is this need

[2015-11-22 21:42] jccguimaraes commented on #11
hi @skratchdot,

thanks for the feedback.
I see your point here. Indeed I did not think about it. the value is a property from the tree view. didn't count with multiple paths though! I believe it will be a simple fix.

You can look at the code but you will find it poorly written. I have begun refactoring big time all the code, but be my guess! :)

More than happy to help and receive feedback.

[2015-11-22 22:13] skratchdot commented on #11
@jccguimaraes - sounds good. Not sure when I'll get a chance to look at it.  I spent a little time searching `paths` and looking at the database.js helper file.  For the time being, I've just limited the amount of paths I'm specifying. Thanks again for creating the project.

[2015-11-22 23:37] jccguimaraes commented on #11
@skratchdot you can quickly find it in the *lib/views/project-view.js* for ```saveStateOfProject```and ```setStateOfProject``` they get and set the state from the tree-view. Hope it helps.

Just remember that the views got a lot messy after a while, so i'm counting on the refactor to clean all the junk...

Also, I am trying to make MochaJS run as the Atom custom testing framework but so far no luc

[2015-11-22 23:47] skratchdot commented on #11
Thanks for the info. That helps out.  I was wondering about how to test atom plugins.  I still haven't created one, but have recently gave Atom another chance, and am starting to use it more often.  I'll need to read some atom plugin tutorials and see the best way to write unit tests and get code coverage reports.  Have recently been messing with karma, mocha, chai, istanbul, isparta, sinon - wond

[2015-11-22 23:52] jccguimaraes commented on #11
I have mocha + chai + sinon + istanbul working just fine in the command line (the downside is that i don't have access to the atom package).
All runs smooth and running on nodeJS v4.1.1 (ES2015) not Babel (i don't wan't to use it in this project, as well as coffeescript...)
You can check the attachment file for the current group refactor (model)
[coverage-group.pdf](https://github.com/jccguimaraes

[2015-11-28 17:12] koltejas opened #12 "Uncaught TypeError: Cannot read property 'sheet' of null"
Steps that lead to the exception

1. Created a Group
2. Added one project to it.
3. From context menu  did "Edit group"
4. changed icon, color and pressed Edit group which gave the below error after which group vanished from panel

**Atom Version**: 1.2.4
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.

[2015-11-28 17:15] koltejas commented on #12
i also had similar error first time i created the group. After reloading atom however the group was there.

[2015-11-29 22:39] jccguimaraes commented on #12
Hi,
Sorry for the late reply.
Thanks for reporting this. Will try to fix as soon as possible.
Need to check if it's related to windows or generally.

[2015-12-01 22:48] jccguimaraes commented on #12
@koltejas Can you please confirm that this problem no longer occurs?
Thanks!

[2015-12-02 15:24] bwbb commented on #12
Hi,

I'm afraid I still get the same issue on Windows, after updating with your fix:
[code]

[2015-12-02 15:42] jccguimaraes commented on #12
Thanks @bwbb.
I need to test in a win machine so I can sort this issues.
Although this is probably another issue. Will publish a little patch to try to fix for now without really testing on a win.

[2015-12-02 16:01] 4rkiel opened #13 "Uncaught ReferenceError: his is not defined"
[Enter steps to reproduce below:]

1. load plugin

**Atom Version**: 1.2.4
**System**: Ubuntu 14.04.3
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.22

### Stack Trace

Uncaught ReferenceError: his is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-02 16:07] jccguimaraes commented on #13
sorry @4rkiel
that was a typo! fixed.

[2015-12-02 16:07] #13 closed

[2015-12-02 16:09] jccguimaraes commented on #13
i really need to pace the refactor so i don't fall on this stupid errors :hammer:

[2015-12-08 16:41] camlafit opened #14 "Change group doesn't change project affectation"
Hi

After a change group name , sub project weren't updated. Would be great to change group and move project to new group.
In my case, I've updated json configuration to change group name on each project.

[2015-12-08 16:43] jccguimaraes commented on #14
hey @camlafit thanks for pointing it. it in fact should do that :\ will try fix it asap!
your setup? osx/linux/win?

[2015-12-08 18:06] camlafit commented on #14
Hi

My setup : Debian Jessie / Gnome with atom 1.2.4 and project-viewer 0.2.23

Thanks

[2015-12-09 09:16] #14 closed

[2015-12-09 11:37] camlafit commented on #14
yes ,  It's approved :)

Thanks a lot.

[2015-12-09 11:44] jccguimaraes commented on #14
nice! :+1:

[2015-12-09 20:53] jas99 opened #15 "Win10 - Separators issue"
PFA

Multiple sperators are showing up in Win10; let me know if you need more.

![screen](https://cloud.githubusercontent.com/assets/1231593/11698493/dc1b8180-9ee4-11e5-94b5-f3abf9206396.png)

Thx
Jas

[2015-12-09 20:55] jas99 commented on #12
@jccguimaraes I also got this issue

[2015-12-09 21:02] jas99 opened #16 "Uncaught TypeError: Cannot read property 'toLowerCase' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Microsoft Windows 10 Enterprise N
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.24

### Stack Trace

Uncaught TypeError: Cannot read property 'toLowerCase' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-09 22:46] jccguimaraes commented on #16
thanks for pointing it out. Will try to replicate it and fix it.

[2015-12-09 22:46] jccguimaraes commented on #15
thanks for the feedback. weird behaviour! will have a look at it.

[2015-12-12 23:32] jccguimaraes commented on #12
still happening. yes

[2015-12-13 00:30] jccguimaraes commented on #15
i can't replicate this issue. can you give more intel on this? @jas99 thanks

[2015-12-13 01:34] jas99 commented on #15
@jccguimaraes Hey I have also stopped seeing this. So might be some weird thing. Will reopen this thread if I see it again.
thx :)
Jas

[2015-12-13 01:34] #15 closed

[2015-12-13 07:35] jccguimaraes commented on #15
that's nice! :sunglasses: thx!

[2015-12-14 00:46] jccguimaraes commented on #16
can you please check if this continues to happen?

[2015-12-14 00:48] jccguimaraes commented on #12
this seems to be a win problem. have resolved the error not breaking but i think it will not change colors. Can you please validate this? @jas99, @koltejas and @bwbb. thanks

[2015-12-14 06:40] jas99 commented on #12
@jccguimaraes
Hi thr
Yeah it doesn't happen when you don't set the color and thus I don't.
Thx
Jas

[2015-12-14 06:47] jas99 commented on #16
@jccguimaraes
Hey thr
I think it might be something to do I was manually editing the json in response to issue I was having when setting color of the group. I don't have such issue anymore.

But I might suggest the json to be recreated if someone deletes it or empty out the file. That would help.

Thx
Jas

[2015-12-14 06:47] #16 closed

[2015-12-14 07:09] jccguimaraes commented on #16
cool feature! thx!

[2015-12-14 07:12] jccguimaraes commented on #12
yeah, will probably disable temporary for win users. :( that's a shame though.

[2015-12-14 08:59] zsytssk opened #17 "enabled after disable project viewer can't working unless restart atom"
I use atom projectmanager api to toggle project viewer;
it occur error when I disabled project viewer;
after this I enabled project viewer, it won't work;
![qq 20151214165737](https://cloud.githubusercontent.com/assets/2304648/11776673/eb440680-a283-11e5-8b03-e02404da5e6b.png)

[2015-12-14 09:03] zsytssk opened #18 "use ctrl-alt-r to reload atom window it don't reopen the latest open file when project viewer is active"
use ctrl-alt-r to reload atom  window atom don't reopen the latest open file  when project viewer is active
I disable project viewer, It work

[2015-12-14 09:31] jccguimaraes commented on #18
hi, can you specify more info no this? like you setup? win? is the file saved or unsaved?

thx

[2015-12-14 09:33] jccguimaraes commented on #17
this has something to do with the life cycle of the package. destroy should be optional though.
will investigate why this is happening.
thx

[2015-12-15 06:37] zsytssk commented on #18
I startup atom, atom open lastest file when atom is close (status1)
and I close some file open some new file,(status 2)
use ctrl-alt-r reload atom
atom don't recover status 2. it just recover status1

----

file is saved.
window 10
atom 1.3.1
install package:
-| atom-material-ui
-| autocomplete-paths
-| clipboard-plus
-| csscomb
-| emmet
-| expand-selection-to-quotes
-| expose
-| file-icons
-| jsh

[2015-12-15 06:52] zsytssk commented on #18
it work fine now. I dont kknow why

[2015-12-15 06:52] #18 closed

[2015-12-15 14:10] jccguimaraes commented on #18
well if that continues to happen, just shout! thanks

[2015-12-16 16:01] koltejas commented on #12
it only occurred after install, (no groups or projects). i haven't faced this error after that.
project viewer is working fine.

[2015-12-16 16:21] koltejas commented on #12
Just for trial, i uninstalled project viewer and deleted the config json. and reinstalled. Had no error whatsoever :). Your latest version does not have this bug.

[2015-12-16 18:37] jccguimaraes commented on #12
cool @koltejas. can you confirm that you cannot change the color of a group/project? i assume you are on a win right? thks

[2015-12-17 11:19] koltejas commented on #12
yeah, group color is not changing.. changed color is saved in config file but does not reflect in the panel

[2015-12-26 23:05] jccguimaraes commented on #10
this is still alive...

[2015-12-27 14:18] jccguimaraes commented on #11
hey @skratchdot!
finally had a change to look at this. made all the changes and also fixed some bug on multiple projects.
hope all goes well.
will release in a bit

[2015-12-27 14:23] #11 closed

[2015-12-27 14:25] #17 closed

[2015-12-28 05:56] skratchdot commented on #11
@jccguimaraes - This is great!  Thanks for this great plugin and sorry I didn't have time to fix this myself.  It's been a busy month for me.

[2015-12-28 06:46] jccguimaraes commented on #11
@skratchdot i know what you mean :p

[2016-01-08 18:09] Pathsofdesign opened #19 "project-viewer.json not being saved to when adding groups / projects via sidebar"
Hey there, for some reason when I create groups / projects via the Project Viewer sidebar they don't persist to the project-viewer.json file so if I restart ATOM their no longer available. Any ideas? Thanks!

Atom 1.3.2
project-viewer 0.2.26

[2016-01-09 22:42] jccguimaraes commented on #19
Hi @Pathsofdesign. Sorry for the late reply. Juat pinged on the emal now.

That is really weird.

Can you tell me your specs?
As well as if:
* You have multiple atoms opened (a recent bug @canatro found)
* json with no groups or projects?
* if you write directly on the json will they persist?

Will try to mimic that.

Thanks for the feedback

[2016-01-10 00:14] Pathsofdesign commented on #19
Hey there! Thanks for the quick reply. I love this plugin but just started
having issues recently. I guess the only specs I know to tell you see the
ones I already have. I am using latest version of OS X El Capitan. I don't
have multiples Atom's open. I create a group first, then project, within
the projected viewer sidebar. Once I close atom and open it again my
projects are gone an
On Sat, Jan 9

[2016-01-10 00:21] jccguimaraes commented on #19
@Pathsofdesign you have same OS as I.
Recently added only the draggable option but i don't see how that can affect it.
But will try to recreate this issue. That's bad :( sorry.

Please be patient =)

[2016-01-13 08:28] marionvdw commented on #19
Hi! I have the same issue… :(

[2016-01-13 10:50] bladeski opened #20 "Git-Diff doesn't work for projects opened by Project Viewer"
Default Git-Diff functionality does not work for projects opened from the Project Viewer sidebar.
Project opened from Project Viewer:
![image](https://cloud.githubusercontent.com/assets/7465289/12292145/367263e2-b9e3-11e5-8f5b-43af6e1b6340.png)
Same project opened by "Add Project Folder..." in "File" menu:
![image](https://cloud.githubusercontent.com/assets/7465289/12292162/4b5df8ac-b9e3-11e5-8474

[2016-01-13 12:49] jccguimaraes commented on #19
sorry for the delay in the response and the why this can be happening, but I have been working all week out of my home country

[2016-01-13 12:50] jccguimaraes commented on #20
thanks for reporting this.
will have a look at the why that is happening

[2016-01-13 15:24] jccguimaraes commented on #20
hi @bladeski.
did some investigating and found that git-diff only shows diffs in the gutter of the project, not actually in the tree-view cenario.

I don't have those issues and i am having a hard time replicating it.
Can you give me more feedback?
Also, on first image you have one project and on the second you have 2 projects.

Thanks

[2016-01-13 15:26] jccguimaraes commented on #19
@marionvdw and @Pathsofdesign can you expose here the structure of the `Packages -> Project Viewer -> Edit file` content?

[2016-01-13 15:32] jccguimaraes commented on #19
[code]

if something is wrong, you will have that error, example: `"groups"s: {...}`

[2016-01-13 23:54] olimpux commented on #20
is not git-diff, it means that the color of the files in the tree-view are not showing, this is happening to me also, when i open a project from project viewer those colors are not appearing, and i don't know wich files have uncommited changes

[2016-01-14 07:15] jccguimaraes commented on #20
did you guys have always this? could it be something regarding the new versions of Atom that implemented some changes...
i need more investigation.

[2016-01-14 09:10] bladeski commented on #20
I've only recently started using Atom, and this only occurred yesterday after installing the Project Viewer plugin. Also it only occurs with projects opened with the plugin - other projects are fine. Also, on the second image I sent one project is opened with Project Viewer, the other by manually opening a project folder. When I do this it fixes the problem for both projects, but defeats the purpo

[2016-01-14 09:13] jccguimaraes commented on #20
ok. thanks for sending more intel.
This is really weird as I don't have this issues, and clearly is something from PV.
Are you on Win, OSX or Linux?

[2016-01-14 09:18] bladeski commented on #20
I am on Windows, using Atom 1.3.3

[2016-01-14 09:21] jccguimaraes commented on #20
I am on an OSX so that can probably be the reason. I can only test in a few days on a windows as i am way these days. Sorry

[2016-01-14 09:31] bladeski commented on #20
No problem. Thanks.

[2016-01-14 10:49] jccguimaraes commented on #19
do you any input on this @Pathsofdesign and @marionvdw.
thanks

[2016-01-14 15:42] olimpux commented on #20
i am also on Windows, so maybe is some lib missing, i will test it on Linux

[2016-01-14 16:16] jccguimaraes commented on #19
so...
found the reason for the error.
new update should fix this.
the file should be wrapped in {}.
please confirm after update that this no longer occurs.

Thank you @Pathsofdesign and @marionvdw

[2016-01-14 16:27] #19 closed

[2016-01-16 04:46] Pathsofdesign commented on #19
This has been fixed! thank you very much!

[2016-01-16 08:54] jccguimaraes commented on #19
Glad it worked! Thanks

[2016-01-18 07:41] marionvdw commented on #19
It works! Thank you very much!

[2016-01-18 11:21] jccguimaraes commented on #19
good to know! :)

[2016-01-22 11:31] jccguimaraes commented on #12
found a work-a-round maybe this weekend will publish it

[2016-01-23 22:35] #12 closed

[2016-01-27 10:18] canastro opened #21 "Custom order of groups/projects"
It would be nice to have the possibility of ordering the groups & projects by other order then alphabetic.

[2016-01-27 10:58] jccguimaraes commented on #21
Thanks for the idea. Will implement this feature on the next version

[2016-01-28 18:46] fireflyer95 opened #22 "FEATURE: Add keybinding for selecting project / status bar message"
Like the package so far! Best project management package I have tried.

It would be nice to be able to set up keybindings for cycling between projects, something like next-project and previous-project, looping around from last to first and vice versa. I prefer working with keyboard over mouse, and it would be very smooth to switch between the projects that way.

Also, an indicator in the status ba

[2016-01-28 22:32] jccguimaraes commented on #22
Hi @fireflyer95,
I am glad you find this package of use to you!
This could be a great feature for the next release!
Thanks for the feedback.

[2016-01-29 05:40] FrankOcn opened #23 "Uncaught TypeError: Cannot read property 'textContent' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.1
**System**: Ubuntu 14.04.3
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.29

### Stack Trace

Uncaught TypeError: Cannot read property 'textContent' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-29 06:36] jccguimaraes commented on #23
hi @FrankOcn.
Thanks for poiting this out. will make the necessary changes.

[2016-01-31 13:45] jccguimaraes commented on #20
this seems to be something with Atom in Windows. Been experimenting the commands to open a folder and it seems not to be from the package itself.
will investigate more.

[2016-02-02 03:23] chuyik opened #24 "Change the position of the panel"
Could I change the position of the panel to the left, make it configurable?
Because I'm using a tool-bar button to toggle this project-viewer panel, and I wish they could all go to the edge left.

Here's the screenshot of my atom:

![image](https://cloud.githubusercontent.com/assets/6262943/12738845/64386ecc-c99f-11e5-87ff-d3c31dc75c8a.png)

[2016-02-02 03:33] jccguimaraes commented on #24
Hi @chuyik, thanks for the feedback. Will make it happen :) well spotted

[2016-02-03 14:21] cedvan commented on #22
:+1:

[2016-02-03 14:21] cedvan commented on #21
:+1:

[2016-02-03 14:27] cedvan opened #25 "Create sub groups"
Hi,

It's a very nice atom package. Manage project is awesome :)

it would be best able to create sub group :

- Client 1
    - Api
         - api-1
         - api-2
         - ....
    - Bundles
         - bundle-1
         - bundle-2
         - ....
    - Docker
         - docker-1
         - docker-2
         - ....
    - ...
- Client 2
- Client 3
- ...

[2016-02-03 18:10] jccguimaraes commented on #25
The thought as crossed my mind regarding an extra layer of nesting. I have been implemeting a refactor to the plugin so i can easely integrate more features.
But yeah, thanks for this input! :) and for enjoying the plugin. Really means a lot.

[2016-02-03 22:21] jccguimaraes commented on #24
will make it available soon. :night_with_stars:

[2016-02-03 22:21] jccguimaraes commented on #23
will make it available soon :night_with_stars:

[2016-02-03 23:34] #24 closed

[2016-02-03 23:35] #23 closed

[2016-02-04 09:30] bladeski commented on #20
That is odd as it only seems to happen when the Project-Viewer plugin is enabled

[2016-02-04 09:35] jccguimaraes commented on #20
Yeah, been digging more and more and I really don't see the why, but it seems from the plugin as you said.

It only uses `atom.project.addPath` and `atom.project.removePath` and it seems that this is what the Add Project Folder does at it's core after opening the `pickFolder` method.

Need more testing. Sorry about the delay

[2016-02-04 09:38] bladeski commented on #20
No problem. Though I must say, having used the plugin for a few weeks now,
I think it is one of the most useful plugins for Atom I have found! Thanks
for the work you've put into it!

On Thu, 4 Feb 2016 at 09:35 João Guimarães <notifications@github.com> wrote:

[2016-02-04 22:13] jccguimaraes commented on #20
thanks @bladeski. Really happy you're finding it useful! :)
will continue to improve and if you have features just shoot.
Meanwhile will try to see what is the problem here.

[2016-02-07 23:00] jccguimaraes commented on #24
@chuyik did this suite your needs?

[2016-02-08 23:41] samorton opened #26 "option to add current opened project to the current group"
Would be nice if  you've opened a project by browsing normally, to be able to add to the current group in the project viewer, or maybe a dlg to add to any group. Would just make life a little sweeter.
xx

[2016-02-08 23:44] jccguimaraes commented on #26
thanks @samorton for the feedback.
That's a cool feature! Will implement.

[2016-02-12 16:56] jasesmith commented on #20
Hope this helps... I am experiencing the same issue with git-diff treatments on the file tree and open file tabs. I've noticed that when I open a project with the Project Viewer, the files don't recognize their git status until I open one of the files. Then, when the Atom window is not the active window, the files lose their git status treatment again until I interact with the file. Here's a scree

[2016-02-12 22:09] jccguimaraes commented on #20
Hi @jasesmith.
Thanks for adding more input!
Thought this was a windows issue but guess your having it on an osx machine :(
Can't figure it out yet :( sorry

Thanks for letting me know this package is a must :D

[2016-02-14 07:56] chuyik commented on #24
@jccguimaraes Yes! Thanks for the quick action!

[2016-02-14 08:38] jccguimaraes commented on #24
@chuyik no prob!

[2016-02-15 11:49] sjdawson opened #27 "Feature request: autohide/hide on switching project"
A feature that I'd find helpful, would be if the project viewer panel could either autohide, or hide once you've switched to a new project.

[2016-02-16 05:16] saivan opened #28 "Feature Request: Open and close Tabs"
It would be awesome if when we switched projects, we could save all of our current tabs and switch to the previously opened tabs of the project we are switching to.

For example, I have a project called <Master> and I'm working on master1.c, master2.js and master3.py. But there are 15 files inside of master (of which I've only opened 3).

I then switch to a different project called <Beast>. master

[2016-02-16 05:18] saivan opened #29 "Feature Request: Auto Opening"
When we type CMD+Shift+P, we get the context menu. It would be super cool if we could just go, open <Master> if we had a project called master somewhere in our project tree, and it immediately loaded. Would save time :)

Awesome plugin!!

[2016-02-16 14:14] jccguimaraes commented on #27
hi @sjdawson
thanks for the suggestion, it has been implemented on the refactor. :)
don't know how long it will be out though, probably will merge this feature in the current version

[2016-02-16 14:17] jccguimaraes commented on #28
hi @saivan!
thanks for the input but the feature you are requestion already exists, you need to go the settings and enable the buffer thing :) currently is a bit buggy but on the refactor version will be a more mature workflow!
if that is not the case, please enlight me with more details on this.

[2016-02-16 14:18] jccguimaraes commented on #29
hi again @saivan!
that would be nice indeed, will implement in the upcoming refactor (or path in the current one also)

[2016-02-16 15:14] sjdawson commented on #27
Cool! :sunglasses:

I look forward to seeing it when it hits. Great work! :+1:

[2016-02-16 18:18] jccguimaraes commented on #27
Thanks 8)

[2016-02-18 01:00] saivan commented on #28
Hello again. I have enabled this. But it seems that every time I switch projects, it only opens a single tab. It doesn't restore all of the tabs.

[2016-02-18 01:02] saivan commented on #29
Thats awesome to hear :)

[2016-02-22 09:00] kjvandervalk opened #30 "Unable to complete a dialog with native-ui theme installed and active."
Not sure if this is a problem with the theme or this package, but whenever native-ui is enabled I can only type in (for instance) the name of a group to add and select a color, but can't select a icon (list seems empty) and can't press 'Add group' or 'Cancel'.

[2016-02-22 10:33] jccguimaraes commented on #30
hi @kjvandervalk
thanks for reporting this out. will investigate and check if this is related to that theme or not!
will keep in touch

[2016-02-22 16:09] dakrisis commented on #30
Hi @jccguimaraes,

this is my personal account. I will correspond through this one should you have any more questions :) I filled the issue out at work today, hence the other account. But thanks for taking this under investigation!

At my workplace I develop on a Mac and got to updating it to El Capitan today. In doing so, I decided to test out the [native-ui](https://github.com/fv0/native-ui) the

[2016-02-22 17:41] jccguimaraes commented on #30
@dakrisis :)
Thanks for giving more inputs. It really seems to be from the native-ui but one never knows :D

[2016-02-22 19:40] dakrisis commented on #30
I just found [this issue](https://github.com/fv0/native-ui/issues/27) in the closed section of native-ui. It seems the ::before element of the modal as styled by native-ui is the main offender. It seems to cover certain elements, making them unreachable.

[2016-02-22 22:27] dakrisis commented on #30
The fact the ::before element is positioned absolute has some weird effects on the elements within the modal. Applying a position:relative on the inserted <div>'s (ie. add-group-view, remove-project-view etc.) remedies this issue and has no weird effects on a standard Atom theme.

My current fix in the user's `styles.less`:

`atom-panel-container.modal {
  div[is="add-project-view"],
  div[is="rem

[2016-02-23 09:40] jccguimaraes commented on #30
hey @dakrisis!
thanks for the investigation! wil try to patch it today!!!

[2016-02-24 09:48] jccguimaraes commented on #30
@dakrisis please update the package :)
hope it works smooth

[2016-02-24 09:48] #30 closed

[2016-02-24 11:09] madvik opened #31 "Toggle location"
Hello,
Great plugin !
It is possible to locate the toggle of "project viewer" on the top of the present toggle with treeview ?
Thanks

[2016-02-24 12:28] jccguimaraes commented on #31
Hi @madvik!

Can you elaborate a bit more on this?
Thanks

[2016-02-24 12:39] madvik commented on #31
Like this : [http://imgur.com/4xNNh3a](http://imgur.com/4xNNh3a)
Thanks

[2016-02-24 12:55] dakrisis commented on #30
I already did this morning. Working smooth indeed. I will report an issue, with a reference to this one to the native-ui maintainer.

[2016-02-24 18:51] jccguimaraes commented on #31
I see your point, but i don't think there is a possibility for _splitting_ the tree-view vertically or horizontally, but will investigate for sure.
Meanwhile, there is an option to make it next to the tree-view instead of the other side...

[2016-02-24 19:10] madvik commented on #31
Good idea !
Thank you

[2016-02-26 23:21] jccguimaraes commented on #20
hey @bladeski and @olimpux found this issue closed on Atom https://github.com/atom/atom/issues/10757 that seems to be related.
If you updated your Atom, can you tell me if this continues to happen?
Thanks

[2016-02-27 09:47] bladeski commented on #20
Unfortunately not - I'm using 1.5.3 and still having the same problem, but
only when using Project Viewer... it really is bizarre!

On Fri, 26 Feb 2016 at 23:21 João Guimarães <notifications@github.com>
wrote:

[2016-02-28 22:40] jccguimaraes commented on #20
i have implemented a new aproach on the refactor and hope it will address this issue, unfortunattly it is still a long way until I finish the new version... can't manage to get the time for it :(

[2016-02-29 06:26] bladeski commented on #20
No problem. I look forward to it, but still see the plugin are being good
enough not to get rid of it in the meantime. Thanks.

On Sun, 28 Feb 2016 22:41 João Guimarães, <notifications@github.com> wrote:

[2016-02-29 08:58] tarikkavaz opened #32 "I lost all my Groups and Projects"
All of a sudden all my Groups and Projects disappeared. How am I supposed to get them back?

[2016-02-29 09:02] jccguimaraes commented on #32
hi @tarikkavaz in what version are you?
As this is saved on a file and if you edit it and it's empty i am affraid but it's lost :(
Although it should not happen in last release, I am working on a safer file/db manager.

Sorry for this :(

[2016-02-29 09:06] tarikkavaz commented on #32
Hi João 
Thanks for the quick reply

Atom 1.5.3
project-viewer 0.2.31

Btw I didn't open/edit or any kind of files 
Hope we can make it work 

Tarık Kavaz

On 29 February 2016 at 11:02:53, João Guimarães (notifications@github.com) wrote:

hi @tarikkavaz in what version are you?
As this is saved on a file and if you edit it and it's empty i am affraid but it's lost :(
Although it should not happen

[2016-02-29 10:00] jccguimaraes commented on #32
Can you go to `Packages -> Project Viewer -> Edit file`? It will open the db file, and please check if something is in there. But if you are using latest version, i believe you have lost everything :/ damn

[2016-02-29 10:54] tarikkavaz commented on #32
I have no db file, it's gone I guess. damn

[2016-02-29 22:31] jccguimaraes commented on #32
sorry about that :((((((((

[2016-03-03 22:47] bkcsoft commented on #32
Not sure if it's related to this bug but the result was the same, groups and projects went bye bye :unamused:

The cause was that my disk was full so `project-viewer.json` got trunkated. That in itself isn't the bug though, the bug is that project-viewer/atom didn't notify me that the write was incomplete :angry:

Like I said, not sure if this is the same bug (or similar), I can open a specific is

[2016-03-03 23:46] jccguimaraes commented on #32
Damn @bkcsoft :(
I am implementing the atom.storage that itself creates a file in the storage folder and I hope they did a good handling on this.
No matter this new aproach, i will also implement an option for backup to an outsider file or other solution.

There will not be an option for edit the file though.

Do you think this is not a good solution? @bkcsoft and @tarikkavaz.

[2016-03-07 07:37] tarikkavaz commented on #32
Maybe you can use [gist](https://gist.github.com/) like [Sync Settings for Atom](https://github.com/Hackafe/atom-sync-settings).

[2016-03-09 06:28] jccguimaraes commented on #32
hey @tarikkavaz thanks for the share.
definilty will have a look at it

[2016-03-11 13:09] camlafit commented on #32
Hi

On Debian Jessie with last atom and project-viewer

On crash system if Atom is opened, project-viewer.json is emptied.
A temporary solution may be to have an automatic backup file.

I presume this file is in open status when Atom session is active. In this case with a simple crash, full disk, ... this file can be purged.

[2016-03-11 22:14] jccguimaraes commented on #32
hi @camlafit
yes backup solution is an option on next big release/refactor.
I am deeply sorry for this as there's no solution as it is.
Just ask you for now to backup the file manually please...to be safe

[2016-03-22 17:55] vanboom commented on #32
:+1: Same here... all projects and groups lost somehow.  A temporary solution is to backup your ~/.atom/project-viewer.json file any time you add/remove projects.

[2016-03-22 17:57] vanboom commented on #25
:-1:  Keep it simple, the currently heirarchy is sufficient for everything that we do.

1. API-1
2. API-2
3. Docker-1
4. Docker-2
...

[2016-03-23 00:04] jccguimaraes commented on #32
Hey @vanboom,
Sorry for this behaviour, I know it sucks :(
I think that somewhere along the validation the package gets all cranky and deletes everything..

Have been diging the atom api and other packages and i am using the `atom.storageFolder().load` and `atom.storageFolder().store` for the I/O of the file. I guess they did manage to make it stable.

Also, the saving on add/remove projects / gro

[2016-03-23 00:18] jccguimaraes commented on #25
Hey @vanboom,
On the refactor, did manage to create a workflow from Client->Group->Project.
For me it's also sufficient to have G and P, but making it reach as much as everyone is my motivation for this project.
As said in other issue you comment, this refactor is taking way to long because i am changing everything and implementing all the cool features some pointed out.

So, does it make sense to

[2016-03-23 00:20] jccguimaraes commented on #10
Have been making an approach on the package that I think it would be interesting to see how it flows.

[2016-03-23 00:22] jccguimaraes commented on #10
Also, posted an entry on the Atom discussion about the future of this package [here](https://discuss.atom.io/t/future-of-project-viewer/26898/3).

A lot on my mind about this direction

[2016-03-23 09:04] jccguimaraes commented on #28
this has been improved and will be available on next release

[2016-03-24 14:51] adebree opened #33 "Uncaught SyntaxError: Failed to execute 'add' on 'DOMTokenList': The token provided must not be e..."
[Enter steps to reproduce below:]

1. Context menu on Group
2. Select "Group - Edit"
3. Change the associated icon to a 'non-empty value'
4. Confirm
5. Reopen group edit
6. Select empty option in associated icon
7. Confirm => gives below error

**Atom Version**: 1.6.0
**System**: Mac OS X 10.11.3
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.3

[2016-03-30 09:59] jccguimaraes commented on #10
There is also a discussion on **project-plus** https://github.com/mehcode/atom-project-plus/issues/36 regarding the direction of this and possible other packages.

[2016-03-30 13:08] jccguimaraes commented on #33
Sorry for not replying you before @adebree.
Thanks for the feedback.
Hope this only happened once, if it occurs again, please shout if you can.

[2016-03-30 13:11] adebree commented on #33
I'm still able to reproduce it using the described steps, but it doesn't seem to cause any problems except for showing the stack trace message.

[2016-03-30 13:21] jccguimaraes commented on #33
i need to switch from branches, but yeah, probably will need to fix that anyways :)

[2016-03-31 09:21] genezys opened #34 "Uncaught TypeError: Cannot read property 'name' of undefined"
Steps to reproduce:

1. Click on a project in the sidebar
2. Error!

**Atom Version**: 1.6.1
**System**: Debian GNU/Linux
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.31

### Stack Trace

Uncaught TypeError: Cannot read property 'name' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-31 09:23] genezys commented on #34
Looks like the `directory` property cannot be found on an element of class `directory`. I do not know what this means since I could not find in code where the `directory` property should have been assigned.

[2016-04-01 07:04] dtasic commented on #34
i had same problem. I tried to contract main projects folders in tree view. After that I was able to switch projects. Then again if I expand tree-view in some projects, error appears again.
I disabled "Tree-view-git-branch" that I had installed. After that it was working OK. See if it fix it for you.

[2016-04-01 08:01] jccguimaraes commented on #34
hey @genezys and @dtasic,

thanks for pointing this out!
this can probably be because of that package, none the less, on the upcomming version, I have reworked everything and hopefully this external interfers won't happen!

Please have some patient :)

[2016-04-01 08:15] genezys commented on #34
@dtasic Thanks for the workaround. Disabling the `tree-view-git-branch` package fixed my problem.

@jccguimaraes Happy to hear that.

[2016-04-02 11:33] jccguimaraes commented on #10
latest update on the refactor.
Still a big mess but hope it will be a clean and performant at the end.

please comment and ideas for improvement

https://github.com/jccguimaraes/atom-project-viewer/tree/refactor

[2016-04-02 11:39] dtasic commented on #34
@jccguimaraes, nice to hear about upcoming version because this is best project manager I used so far. I tried Project Manager and Project Plus, but they all lacking clear UI that and ease of use that your package provide. Please keep working on it :)

[2016-04-02 11:45] dtasic commented on #34
@genezys try tree-view-git-status, it does not break Project viewer, and it gives you current branch info in tree-view

[2016-04-02 11:50] genezys commented on #34
@dtasic Thanks for the suggestion!

[2016-04-02 12:31] jccguimaraes commented on #34
awesome @dtasic for suggestion an alternative!
Also thanks for the vote of confidence.

tell me something... what you think about this issue? #25 ?

[2016-04-03 16:03] astucieuxzephyr commented on #34
@jccguimaraes I had the same problem and like @genezys and @dtasic , disabling the tree-view-git-branch package fixed the problem. A patch fixing this uncompatibility would be great, of course.
Anyway, thanks you for your awesome work on Project Viewer, I think it is the best project manager for atom until now !

[2016-04-04 10:05] jccguimaraes commented on #34
@astucieuxzephyr, thanks once more for believing in the project, for some time I begun to wonder if I should continue development due to all the variations existing out there.

Again, the refactor is coming along on a new pace... still some major implementations missing but the rework on the **database** stuff had a big improvement.

[2016-04-09 10:21] dtasic commented on #25
CGP would be great as long as there is still possibility to nest directly under Client. Sometimes I need group, sometimes I don't.

[2016-04-09 12:55] jccguimaraes commented on #25
this can be complex but will try to make it happen. what are your thoughts? @dtasic @cedvan @vanboom

[code]

[2016-04-10 16:23] Wadjetz opened #35 "Uncaught TypeError: Cannot read property 'realPath' of undefined"
[Enter steps to reproduce below:]

1. Install nuclide IDE
2. Try to change the project

**Atom Version**: 1.6.2
**System**: Mac OS X 10.11.4
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.2.31

### Stack Trace

Uncaught TypeError: Cannot read property 'realPath' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2016-04-10 16:32] jccguimaraes commented on #35
hey @Wadjetz,

thanks for reporting this!

[2016-04-15 06:42] ericmuyser commented on #35
Hey just downloaded this and can't do anything with this bug :)

[2016-04-15 07:14] jccguimaraes commented on #35
hi @ericmuyser,
will fix as soon as possible. was hoping it was a one time deal. sorry

[2016-04-15 08:29] jccguimaraes commented on #35
this is due to having tree-view disabled.

[2016-04-15 09:28] #33 closed

[2016-04-15 09:28] #34 closed

[2016-04-15 09:28] #35 closed

[2016-04-15 20:10] jccguimaraes commented on #33
@adebree, closed this issue

[2016-04-15 20:11] jccguimaraes commented on #34
@genezys, @dtasic and @astucieuxzephyr, closed rhis

[2016-04-16 16:10] ericmuyser commented on #35
Hey @jccguimaraes!

Totally understand. Are you sure about that though? I think I have tree view enabled?

I updated and now clicking on the item highlights it, but does nothing. Ideas?

![image](https://cloud.githubusercontent.com/assets/156768/14582184/fe34e94a-03b2-11e6-9ac8-3a72b9ff1d37.png)

Cheers

[2016-04-16 16:11] ericmuyser commented on #35
Sometimes it doesn't highlight it either

[2016-04-16 16:13] ericmuyser commented on #35
Oh snap one of  my plugins is disabling tree-view and using a different one. I restarted, I re-enabled it *then* opened project viewer, and still no go.

![image](https://cloud.githubusercontent.com/assets/156768/14582212/86c268c8-03b3-11e6-8ff8-c88519773dc4.png)

[2016-04-16 17:01] jccguimaraes commented on #35
so clicking the project wont open it right?
this has been fixed on the next major release. as it is is a bad hack i did :(

maybe a new release on the tree-view broke the hack.

working as fast as I can :(

[2016-04-16 17:59] ericmuyser commented on #35
Oh sorry, I think I didn't understand how this was switching projects. I thought since I was adding a project it asked for a path that it meant it would open it for me. But looking at the code it looks like I need to add it to the tree view first? Is that right? It seems to be working now..

[2016-04-16 18:00] ericmuyser commented on #35
I thought it would like open that folder in a new window... or switch to the window that had that folder open. I dont know if that's even possible though

[2016-04-16 19:12] ericmuyser commented on #35
What if Atom loses the projects I added to the tree view? I dont want to go and add 30 folders back to it lol ideas?

[2016-04-16 20:34] jccguimaraes commented on #35
You add root paths in the project add/edit mode/modal. You don't need to add in the tree-view.
You will definitly not loose the paths if you remove it in the tree-view.

The hack is just for the state of the expansion/collapsing of sub-folders.

The configuration is stored in a file in the atom root path.
I advise to you keep a backup of that file because it can loose the content if some crash occ

[2016-04-16 20:38] ericmuyser commented on #35
Woah, it's suddenly working. It just wasn't opening anything when I clicked on it. Seem sall good now. Pretty sweet. Thanks @jccguimaraes !!

[2016-04-16 21:05] jccguimaraes commented on #35
good to know! @ericmuyser. Hope you stick with PV 😃

[2016-04-23 10:00] yucer opened #36 "Feature request: Project working sets"
It would be nice to have a third grouping level:

Groups -> Projects -> Working set

**Working sets** are a very nice feature of eclipse: http://bit.ly/1ps2hEE

If allows to define a set of folder and files to focus on a particular task. When a **Working set** is selected  the rest of the folders and files of the projects are hidden.

Also in eclipse you can decide to show a group of working sets

[2016-04-23 10:09] jccguimaraes commented on #36
hey @yucer,

This feature seems to come in handy in some situations yes.
I will add to my TODO list and hope I can deliever an equivalent solution.

But first need to investigate it :)

👍

[2016-04-23 12:54] skratchdot commented on #36
@yucer - I use "groups" like I used to use "working sets" in Eclipse

[2016-04-23 16:27] yucer commented on #36
Good idea, but there are some limitations. Yo have to enter the project directories again for the new group. Also you have to enter any of the folder do you use from this project as "projects".

Sometimes you want the same folder structure in the project, just to hide many folders that don't apply to the current work.

But, in the case you need a workset of just one folder, yes it could do the tri

[2016-04-23 16:34] yucer commented on #36
As Eclipse uses it they don't have it in a hierarchy.

They just have a list of projects and a list of working sets. In every working set you select a set of file and folders to show from all the projects. (It could be the case that a particular task need to focus just on two or three folders from some projects)

If no file is selected from a project, then the project is not shown.

But maybe this

[2016-04-23 17:07] yucer commented on #36
In order to you understand my problem. I include two images from a long project that I need to constantly scroll. Because most of the times I work with a subset of the addons (according to the task).

Every folder is an addon (a python module):

![longproject01](https://cloud.githubusercontent.com/assets/1835059/14762883/16d4de28-0986-11e6-96fc-8d86e4c29fd9.png)

The addons list is long here is th

[2016-04-23 18:10] jccguimaraes commented on #36
on the next release there will be a 3 level organisation. named clients/groups and projects. maybe they can fit your needs when it goes out and until i investigate your feature request

[2016-04-26 11:52] Getz85 opened #37 "FEATURE: Resizable panel"
I don't know if this is possible, but it would be great if we could resize the project viewer panel; as what can be done on the tree view.

 Thanks for this awesome package!

[2016-04-26 14:56] jccguimaraes commented on #37
that would be really cool! on the **TODO** 📖

[2016-04-26 21:29] yucer commented on #36
I have learned how to use it better.

Given that you keep the tabs open, I am now loading many sub-folders as projects and I can work with that.

It is by far the best package for project organization that I have seen in Atom.  :-)

Thank you very much.

[2016-04-26 22:59] jccguimaraes commented on #36
and you haven't seen the next version :p

[2016-04-27 12:56] camlafit commented on #25
Hi

Looks a great idea. In my use can be on same project I've theme, modules and some extra. In this case, mine projects are heavy. May sub group to split these project in more easy manipulation can be useful.

Looks nice to have group as node and project as leaf (group can be client, subproject, subgroup, ...)

[2016-04-28 22:55] jccguimaraes commented on #10
Hi all,
Can you give me feedback on the new idea for adding items (clients, groups or projects)? Thankz

![pv_cgp_add](https://cloud.githubusercontent.com/assets/14871650/14903930/9633c66a-0d9c-11e6-9088-a94b5ee7cedf.gif)

[2016-04-28 22:57] jccguimaraes commented on #25
hi @camlafit, @cedvan, @vanboom and @dtasic!

can you see the https://github.com/jccguimaraes/atom-project-viewer/issues/10 for feedback on this matter please?

[2016-04-28 22:59] jccguimaraes commented on #10
As well as this

![pv_cgp_treeview](https://cloud.githubusercontent.com/assets/14871650/14904027/40c8d444-0d9d-11e6-894b-febbc46c768c.gif)

[2016-04-29 06:16] camlafit commented on #10
Hi

Second capture looks nice, with ergonomic evolve
Frist capture, I don't see. Actual interface with all vertical step looks enough. This proposition as tab looks more complicate.

As in these propositions, clients have same behavior than group, miss  an action to add a (sub)subgroup.

[2016-04-29 06:19] camlafit commented on #25
Hi

An another (real) case thinking
Agency1 > ThierClients > Group > Project

Working as freelance on an agency, you can have at least two client level. In #10 interface propose "clients" as "group" behavior, looks sense to have any group level.

[2016-04-29 09:25] skratchdot commented on #10
I think it's looking good!  I initially thought it might be cool to have shortcuts for creating new Clients/Groups on the "Project" tab, but that's overkill after thinking about it more.  My thought was to save a few UI interactions if you just want to create a new Project (with a new Client/Group at the same time)- but it's really not worth the effort (and risk for introducing bugs, etc).

[2016-04-29 12:05] jccguimaraes commented on #25
i see your point @camlafit.
But i think it will be hard to mantain a db / file struture for an _endless_ group level.
For now and not to delay any further the refactor, I will deploy as only CGP levels.

Hope you are okay with this

[2016-04-29 12:11] jccguimaraes commented on #10
@camlafit, the reason I did this aproach was to make it **look & feel** like Atom styleguides. There are no select / option component to my like in the current styles. And the native ones just seems out of place.
But I agree that they do the job.

@skratchdot, I am thinking of a statusbar on the panel with some shortcuts, but they will be for another time :)
Probably add some alerts / warning icon

[2016-04-29 12:19] jccguimaraes commented on #10
autoclose popups now :p

![pv_cgp_workflow](https://cloud.githubusercontent.com/assets/14871650/14915711/f192c8ce-0e0c-11e6-9c86-35b38c40c5a4.gif)

[2016-04-29 14:28] skratchdot commented on #10
@jccguimaraes - definitely okay with it!!!  It looks great.  I only put that one comment about shortcuts because you asked for feedback (and it popped into my head).  I don't think those shortcuts are worth any time or effort though- only mentioned it because it was the first idea that popped into my head.

Keep up the good work!

[2016-04-29 14:39] camlafit commented on #10
nice :)

[2016-04-29 22:00] jccguimaraes commented on #10
really valuable input. thanks guys

[2016-05-27 09:38] Duncank opened #40 "Can't assign folder path on Chrome OS with Crouton"
When creating a new project on my Chromebook running Linux via Crouton, I can't add an associated path to a project.
When I select a different folder, the default path stays in the input box. I'll have to create the project and edit the config-file manually to assign the correct path. After that it works like it should.

[2016-05-28 17:32] jccguimaraes commented on #40
hey there. sorry for the delay. will check the behaviour in my environment. cannot test in yours but i guess it ain't from env.

[2016-05-29 09:20] Duncank commented on #40
Thanks, if you need me to try something let me know!

[2016-05-30 09:29] Hammster opened #41 "Inclusion of devicons"
Hi there,

Since 3.0 will give a Clients>Group>Projects folding, a wider set of icons would be awesome. Projects tend to be classified by their technology

eg. Same Client. Website in Wordpress, admin tool in NodeJs, old Admin Tools in Python or Ruby.

[Devions ](https://github.com/vorillaz/devicons) are also used in a lot of other Atom plugins.

cheers ;)

[2016-05-30 09:38] jccguimaraes commented on #41
this can came in handy yeah

[2016-05-30 09:41] jccguimaraes commented on #41
how its currently implemented in `0.3.0`.

![screencast 2016-05-30 10-39-35](https://cloud.githubusercontent.com/assets/14871650/15645921/fab61722-2652-11e6-92b4-0e5d204f85e4.gif)

[2016-05-30 22:30] jccguimaraes commented on #40
Hi @Duncank, please can you describe better this issue?

What I understand:

1) Project create model opens
2) You add the first folder path (and it will automatically fill the input as the folder name for convenience)
3) You add another root path (this will not change the input).
4) Input will only change if it's empty and the folders is also empty.

Please give me a *walkthrough* on this.

Thanks

[2016-05-31 07:02] Duncank commented on #40
1. Project Create model opens
2. I enter the project name and select a group
3. The associated path field is empty and I can't type in it, so I hit the "Add paths" button.
4. I select a folder or create one and select that, for example /home/duncan/testproject
5. Only /home/duncan shows up in the associated paths line

So now I need to save this new project, and edit the project viewer file to upd

[2016-06-01 21:45] jccguimaraes commented on #40
sorry for not checking this in a fast way but just didn't manage to get the time to it. Please be patient. Will appreciate it.

[2016-06-02 07:48] Duncank commented on #40
No worries, take your time! I know the workaround so I can do my work. Just trying to help you improve this.

[2016-06-04 13:55] #41 closed

[2016-06-07 22:14] jccguimaraes commented on #10
![pv_cgp_01](https://cloud.githubusercontent.com/assets/14871650/15876484/8bfcbc5a-2d05-11e6-90c0-87a38020d78c.gif)
![pv_cgp_02](https://cloud.githubusercontent.com/assets/14871650/15876485/8c13a3b6-2d05-11e6-8f96-bb4ab8acfe9a.gif)

[2016-06-07 22:26] camlafit commented on #10
Nice :)

[2016-06-07 22:26] jccguimaraes commented on #10
it's almost done @camlafit ! :)

[2016-06-07 22:54] jccguimaraes commented on #40
haven't forgot you! tomorrow i will be releasing the new version, if you still use this plugin @Duncank, please give me feedback if this still occurs.
Thanks

[2016-06-08 08:13] #28 closed

[2016-06-08 08:13] #32 closed

[2016-06-08 08:14] #27 closed

[2016-06-08 08:14] #25 closed

[2016-06-08 08:14] #10 closed

[2016-06-08 08:15] #20 closed

[2016-06-08 08:15] jccguimaraes commented on #40
please validate

[2016-06-08 08:53] dsturm opened #45 "Failed to load the project-viewer package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.0

### Stack Trace

Failed to load the project-viewer package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-08 08:55] jccguimaraes commented on #45
really? :( don't know why it didn't install, it's one of the main packages in atom

[2016-06-08 08:55] camlafit commented on #45
same problem on jessie version

[2016-06-08 08:56] jccguimaraes commented on #45
let me check

[2016-06-08 08:56] dsturm commented on #45
Thanks

[2016-06-08 08:58] camlafit commented on #45
To complete debug information.

Module looks installed but can't be loaded. An atom start provide this error during module loading.

**Atom Version**: 1.8.0
**System**: Debian GNU/Linux
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.0

### Stack Trace

Failed to load the project-viewer package

[code]

### Commands

[code]

### Config

[code]

[2016-06-08 09:00] jccguimaraes commented on #45
moved to `dependencies` instead of `devDependencies`. can you please check this?

[2016-06-08 09:04] dsturm commented on #45
Looks good 👍

[2016-06-08 09:04] camlafit commented on #45
ok here :)

[2016-06-08 09:05] jccguimaraes commented on #45
please do `ctrl+alt+t`. i don't have issues, but seems to have one...

[2016-06-08 09:06] jccguimaraes commented on #45
oh ok, it's an issue if you don't have projects :)

[2016-06-08 09:06] camlafit commented on #45
ctrl+alt+t in my is shortkey to open terminal.
But crtr+alt+v no working more :/

[2016-06-08 09:12] jccguimaraes commented on #45
is it being overriden? please use the `cmd+.` to open the keybinder resolver pleas

[2016-06-08 09:20] camlafit commented on #45
Yes was overridden. Looks was to force project viewer shortcut, don't remenber.
Configuration restored :)

Stay ctrl+alt+t, don't catch by atom as gnome took precedence. But look a local configuration and not generic.

[2016-06-08 09:28] jccguimaraes commented on #45
ok, so to be clear
`ctrl+alt+t` opens the SelectView?
`ctrl+alt+v` toggles the Project-Viewer?

And if you all @dsturm and @camlafit feel happy, i can close this issue

[2016-06-08 09:36] jccguimaraes commented on #45
forgot to publish the `0.3.2` version

[2016-06-08 09:58] Duncank commented on #40
It took some time before Atom discovered the update on my ChromeOS, but I managed to install it just now.

The update does not seem to fix my problem, but I've found some more info that might clear things up, and make it easier for me in the mean time:

If I click "add a root path" and browse to the folder I want in the explorer window:
1. if I create a directory "test" and go into it and press "O

[2016-06-08 10:23] jccguimaraes commented on #40
hummmm, ok, that clears any doubts, really don't know if this is an OS problem, of not detecting the newly created folder. thanks, will investigate more

[2016-06-08 10:29] Duncank commented on #40
it doesn't only happen with newly created folders, it also happens with existing folders. Once I go into the final folder I want to select, it doesn't add the right path. If I just select it in the folder list, it works.

[2016-06-08 11:35] #45 closed

[2016-06-08 21:47] DamnedScholar opened #46 "Feature Request: Option To Open In New Window"
When you open a project with Project Manager, it always spawns a new window. I imagine that this isn't always a desirable behavior, but sometimes it is. I've been using Atom as a general-purpose text editor, so I'm not infrequently in a directory that hasn't been added as a project. In this case, I want to be able to easily open a new window so that I don't lose my place in the first directory.

[2016-06-08 21:52] jccguimaraes commented on #46
hi @DamnedScholar, really forgot that use case! Will do of course that option. Thanks for the feedback

[2016-06-10 10:08] Duncank opened #47 "ISSUE: New projects are gone after restart"
Since the latest update (0.3.2) projects I add are gone when I restart Atom. This happens both when I add a new client or group and a new project in one of those, and when I add a new project to an existing group.

This bug could have been present on earlier versions in the 0.3.X range, I think I skipped a version while updating.

I'm using Atom 1.8.0 on Windows 10.

**-- EDIT -- I've disabled "co

[2016-06-10 13:18] jccguimaraes commented on #47
hi @Duncank,
So the main reason for that option is that previous to `0.3.0` there was an older version database, as well as where it was being stored.
By default, it will check if the old file exists and try to convert to the new one if the new store isn't available. Making it to `false` will assume you didn't have the old database or it has already been converted. It will not import/convert the o

[2016-06-10 13:19] jccguimaraes commented on #47
the notification pops up if the option is `false`.

[2016-06-10 13:27] Duncank commented on #47
I had notifications disabled in Atom, since a few packages where giving me a lot of unneccessary notifications. With notifications enabled, I indeed see the message to disable the "convert old data" setting.

When I tried this, I checked Convert old data again and on restart it restored my projects back to the ones I had before v0.3. So my new projects on the new database only remain after a resta

[2016-06-10 13:50] jccguimaraes commented on #47
so you lost the new not the old right?

[2016-06-10 14:00] Duncank commented on #47
That's correct

[2016-06-10 14:08] jccguimaraes commented on #47
it should try but not be able to because it has already new data... ok now i have understand the issue. Thanks.

To be clear about the workflow:

- If no new data:
  - If no old file, list is empty (safe to disable option)
  - If old file, the list is populated with it. (if conversion is ok, safe to disable and delete the file (from the package menu)

- If new data:
  - If no old file, list with n

[2016-06-10 14:14] Duncank commented on #47
On restart of Atom there are 3 possible scenarios:
1. "convert old data" checked (default), new projects created last time
    newly created projects are gone after restart. List is populated with old projects. (not correct)
2. "convert old data" checked (default), no new projects created last time
    list is populated with old projects (correct)
3. "convert old data" unchecked
    new projects t

[2016-06-10 14:18] jccguimaraes commented on #47
until i reach that stability, it's better to disabled the option and don't delete the file yes.

[2016-06-10 14:18] jccguimaraes commented on #47
and also sorry for that :(

[2016-06-11 10:15] exitedprotek opened #48 "Uncaught TypeError: Cannot read property 'indexOf' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Windows 10 64bits
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.2

### Stack Trace

Uncaught TypeError: Cannot read property 'indexOf' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-06-11 12:27] jccguimaraes commented on #48
Thanks for reporting this. Will investigate.

[2016-06-11 13:26] jccguimaraes commented on #46
@DamnedScholar, are you comfortable with a config option that makes all project open in a new window?

[2016-06-11 14:27] jccguimaraes commented on #48
Please can you validate this issue again? Thanks

[2016-06-11 14:40] exitedprotek commented on #48
It works perfectly!

Thanks! :)

[2016-06-11 15:34] #48 closed

[2016-06-11 19:20] jccguimaraes commented on #40
Hi @Duncank,
Can you please try to mimic the behavior by `File -> Open...`? Could not replicate it on my machine :(

[2016-06-11 22:00] DamnedScholar commented on #46
I'd be comfortable with that. It's the behavior I want most of the time.

I've noticed that there aren't many context menu items. What about an option to open in a new window or the same window (whichever you don't have set in the configs) in the context menu, as well as the default behavior on left click?

If I had to choose between the two, a context menu item would be preferable. I'm used to ri

[2016-06-11 22:09] jccguimaraes commented on #46
I agree with you. Will make the context option a thing. meanwhile `0.3.3` has an option in the config for opening in a new window

[2016-06-12 00:57] DamnedScholar commented on #46
Sweet action. Thanks for this. The project viewer sidebar and the ability to add icons were enough for me to download the package, and I was prepared to get used to pressing `Ctrl-Shift-N` before opening a different project if I needed to, but being able to do that via the mouse doubles the speed of using that sidebar.

I've got the beginnings of an image-coding system going, with a Github fork fo

[2016-06-12 12:02] jccguimaraes commented on #46
Forgot to document but please check the command `ctrl+alt+t`... ;p

[2016-06-12 22:21] kleerkoat opened #49 "Colors gone in Project Viewer"
# ISSUE
Seems with the new update there isn't an option to color the groups. Minor issue but was nice to have.
Thank you.

## Environment
- **OS**: OSX
- **Atom**:1.8.0

[2016-06-13 00:17] DamnedScholar commented on #46
That shortcut conflicts with the `toolbar:toggle` command on the [Tool Bar](https://atom.io/packages/tool-bar) package (which is really common) and also the `build:select-active-target` command on the [Build](https://atom.io/packages/build) package.

When the settings checkbox is clicked, a project *does* open in a new window, but the current window also changes to that project.

[2016-06-13 07:58] jccguimaraes commented on #49
Hi, yeah, this is not an issue, i have removed this from this version.
But will make it available again, just give me time to implement.

Also you are welcomed to *contribute to this project* 💪

[2016-06-13 09:03] oxsav opened #50 "FEATURE: Cannot import multiple projects, when trying to create a project in a group"
# ISSUE

Cannot import multiple projects, when trying to create a project in a group.

[2016-06-13 09:45] jccguimaraes commented on #50
Thanks for opening an issue.
Will have a look at it.

*Are you interested in* **contributing** *to this project*? 💪

[2016-06-13 09:50] jccguimaraes commented on #50
What you wanted is to instead of making the root paths in one project, create multiple projects with each root file added correct?

[2016-06-13 22:44] jccguimaraes commented on #47
Please validate if this still occurs.
Your feedback is vital 👌
Thanks.

[2016-06-13 23:32] DamnedScholar commented on #46
Also, I don't think the shortcut is important at all. The settings checkbox is enough, without adding more clutter and potential conflicts to the keybinding space.

[2016-06-14 00:01] jccguimaraes commented on #46
i think i can have a context-menu by tomorrow. no ke-bindings! been working on it but just too damn tired...

[2016-06-14 00:03] jccguimaraes commented on #46
meanwhile, `0.3.4` has changed the keybindings so it wont conflit with the packages you described.

[2016-06-14 00:51] DamnedScholar commented on #46
Hey, I'm not in a hurry. I had even started browsing the code to see if I could grok it enough to add the functionality myself and was pleasantly surprised when you got on top of it so quickly. Take as much time as you think you need. :)

[2016-06-14 04:15] DamnedScholar opened #52 "Updating an item removes the icon selection"
When I right-click on an item in the sidebar that has an icon and select `Update...`, then save without selecting an icon, the icon disappears. The icon appears to be selected, and if I click on it it deselects. If I want to preserve it, I have to click to deselect and then click to select again, then save.

[2016-06-14 05:57] jccguimaraes commented on #52
Thanks for opening an issue.
Will have a look at it.

*Are you interested in* **contributing** *to this project* as well? 💪

[2016-06-14 09:06] Duncank commented on #47
It doesn't delete new projects anymore after a restart when "convert old data" is checked, nice! It did however create a copy of all existing groups and projects, so I guess it converted them again.

I manually deleted all those doubled groups and after a restart everything shows up like it should. Thanks for the update!

[2016-06-14 09:06] #47 closed

[2016-06-14 09:54] Duncank commented on #40
I'm back at my Chromebook today so I could test this;

When I open a folder that way it behaves the same, so I guess this is an Atom problem and not a plugin-problem. Sorry to bother you with this!

[2016-06-14 10:00] jccguimaraes commented on #46
Hey @DamnedScholar, if you would like to make the changes I will be glad, just say and it's yours :)

[2016-06-14 10:01] jccguimaraes commented on #40
No problem @Duncank!
We never know what is the source right? Thanks once again for testing it.
Will close this.

[2016-06-14 10:01] #40 closed

[2016-06-14 10:03] jccguimaraes commented on #46
"When the settings checkbox is clicked, a project does open in a new window, but the current window also changes to that project." this is fixed by the way. will go on the next release

[2016-06-14 10:32] DamnedScholar commented on #46
I haven't gotten to the point where I understand the workings enough to do that. I'm pretty new to all this JS-as-desktop-code stuff. My background is almost exclusively in making other people's artistic whims display cleanly and efficiently at different browser sizes, with some dabbling in using JS and PHP to take relatively simple information and change how it's displayed according to basic rule

[2016-06-14 11:56] jccguimaraes commented on #46
ok thanks, added you to the contributions because of your earlier PR. Just haven't got time yet to release it.

[2016-06-14 12:10] DamnedScholar commented on #52
Fixed by #53.

[2016-06-14 12:10] #52 closed

[2016-06-15 00:28] DamnedScholar opened #55 "Disabled/enabled status does not change on update."
When you add a project without a path, it is added as disabled (styled in dark grey, with a strikethrough, and a cursor that turns into a "do not enter" sign). If you then update the project and add a path, it continues to be disabled. Reloading the window will fix this (changing the state of the project to what it should be). This behavior also happens in reverse (so a project whose path has been

[2016-06-15 01:07] DamnedScholar commented on #55
`list-item-component.js` (where `validate()` resides) can't be required in `utilities.js` because it invokes functions that (at that point) haven't been declared yet and the compiler balks.

Not sure whether it would be more effective to re-create `validate()` inside `updateItem()` (and suck up the duplication) or have the `if (changes.paths)` block send a signal that tells the sidebar to rerun `v

[2016-06-15 06:09] jccguimaraes commented on #55
Thanks for reporting this. Your feedback is being awsome

[2016-06-15 07:39] jccguimaraes commented on #46
added the context-menu in `0.3.6`. Please validate if possible! Thanks

[2016-06-15 13:35] jccguimaraes commented on #55
fixed :)

[2016-06-15 20:20] DamnedScholar commented on #55
Works perfectly. Thanks. :)

[2016-06-15 20:20] #55 closed

[2016-06-15 21:08] #46 closed

[2016-06-15 21:13] DamnedScholar commented on #55
The simplicity of the solution is pleasantly surprising. I feel like my JS noobishness is showing through, because I didn't notice that `itemView` was capable of that. Now I know.

[2016-06-15 21:49] jccguimaraes commented on #55
why do you say that? Do you know how much time it took me to fix this? _"if (changes.paths) block send a signal that tells the sidebar to rerun validate() when an item is updated"_ you just pointed me to the right direction. You were capable of interpreting someone else's code and for me that's the most challenging part of being a developer, and this is JS.... :) so cheer up mate!

[2016-06-15 23:29] DamnedScholar commented on #55
I say that because I was convinced that `itemView` just referred to the item itself and I didn't make the connection that it would also have access to the list item methods like `validate()`.

Interpreting code is easy as long as variable and function names are human-readable. I've always been able to take known vocabulary in unknown logical patterns and translate into whatever native pseudocode m

[2016-06-16 00:05] DamnedScholar commented on #46
Works great for me both ways.

[2016-06-16 08:56] jccguimaraes commented on #46
cool

[2016-06-16 08:57] jccguimaraes commented on #55
:D

[2016-06-16 11:53] jccguimaraes commented on #49
sure @astucieuxzephyr.
I must be honest, i removed because it was a hack and buggy and I am investigating the documentation for a "better" way.
Sorry for this mates.

[2016-06-16 13:41] #26 closed

[2016-06-16 16:17] DamnedScholar opened #57 "PERF: More backup services?"
This is mostly a heads-up sort of thing and also a potential discussion topic. The Gist backup is great, I'm sure (I can't make private gists, so I can't test it), but different people have different preferences. I use [Pinboard](https://pinboard.in/api/) for most of my bookmarking and note-storing. Some might prefer Evernote or [Laverna](https://laverna.cc/) or other solutions. I plan on building

[2016-06-16 16:56] jccguimaraes commented on #57
Hi, there has been an awareness about this on the gitter chat i believe, between me and @Hammster.

It would be nice to add some cloud services indeed. GoggleDrive would be one of the tops priority I believe.

[2016-06-17 09:25] markvandenbrink commented on #21
It seems the custom ordering of projects and groups is working, but the list of clients is listed alphabetically. Is this correct and are you planning to implement custom (drag-and-drop) sorting for the list of clients? That would be great!

Thanks for all the hard work! Great package.

[2016-06-17 09:56] jccguimaraes commented on #21
Hey @markvandenbrink, yes this is planned :)
You are correct, currently the clients is only working as alphabetically due to some implementations issue.
Please have patience :)

[2016-06-18 07:57] reverdin opened #58 "Backup"
# ISSUE
The backup only save once. Any other changes are not saved.
The first backup create a private gist. If I add a project and backup again, the changes are not backed up. The gist has a new revision but whitout change.

## Environment
- **OS**: Mac OSX 10.11.5;
- **Atom**: 1.8.0;
- **project-viewer**: 0.3.10;

## Steps
Please try to describe **step by step** how to get to the issue.
1. Open A

[2016-06-18 08:11] reverdin commented on #58
Just did several others tests and found a way to make it work.

If I restart Atom before doing a backup, the changes are uploaded correctly.

[2016-06-18 08:23] jccguimaraes commented on #58
hi @reverdin. so this option for saving to gist is trigged manually. the question is if the db is saving on creation.

it saves to db (not gist) on every action like collapse/expand. If you could be so kind and test this would be great.

will also investigate this as well as you are welcome to contribute!

It will not fetch from gist on reload open atom or leaving it

[2016-06-18 08:24] jccguimaraes commented on #58
it will of course read from the db on reload.

[2016-06-18 08:33] reverdin commented on #58
Thanks for your help and first of all thanks for this really useful plugin.

Tried the following steps:
1. Add a project.
2. collapse/expand some groups
3. Toggle the project-viewer sidebar
4. Change the current project
5. File - Backup
6. The backed up revision is created in the gist but with no change
7. Quit Atom
8. Launch Atom
9. File - Backup
10. The backed up revision is created in the gist

[2016-06-18 08:45] jccguimaraes commented on #58
I am the one thabking you for liking and using this :)
i can only look at this in a few hours :/

[2016-06-18 09:09] reverdin commented on #58
Am totally happy like that now. Just have to restart Atom before backing up.

I mainly use the backup to import sync my desktop and laptop projects....

Thanks again

[2016-06-18 15:09] jccguimaraes commented on #58
just updated the project. can you please validate if this issue is solved?

[2016-06-18 16:11] reverdin commented on #58
Hello,

Just did a test and the gist is created with the changes which is perfect.

Thanks for your quick release and have a nice week-end....

[2016-06-18 17:25] jccguimaraes commented on #58
glad it's fixed xD. have a nice weekend too! take care

[2016-06-18 17:26] #58 closed

[2016-06-20 20:15] jccguimaraes commented on #57
hey @DamnedScholar! wanna investigate your pinboard api?

[2016-06-20 20:17] jccguimaraes commented on #57
hey @DamnedScholar! wanna investigate your pinboard api?

[2016-06-21 15:00] jccguimaraes commented on #49
Not much left to reimplement this. bare with me

[2016-06-22 21:48] DamnedScholar commented on #57
Upon taking a closer look at the API, Pinboard isn't a good answer for me. It stores two types of objects, bookmarks and notes, but there is no public method to create a new note.

So it would probably be best for me to sync via Dropbox, then.

[2016-06-22 21:58] jccguimaraes commented on #57
hummm, that's a shame :/ well, thanks for investigating it anyways. If you fill confortable on making the same for GD would be great! nice work mate

[2016-06-22 22:06] DamnedScholar commented on #57
I'll figure out how to build a thing for whichever service I end up deciding on as the best way for me to save my projects. I'm in no real hurry and not in danger of data loss, but the lack of it is a challenge to be tackled when I finally resolve to do it.

[2016-06-23 06:46] jccguimaraes commented on #57
:)

[2016-06-24 05:18] DamnedScholar opened #60 "Removing a project path when updating behaves weirdly"
This issue is regarding multiple quirks or bugs with the `removePath` method in `modal-update-component.js`.

## Removal not working

_Steps:_ Update an existing project and add a path, then immediately remove the path and save it. The path is still there even though it appeared to be removed.

This also means that you can't remove a path and then re-add it until you have saved and reopened the pr

[2016-06-24 07:06] jccguimaraes commented on #60
that's weird. a while ago i found isdues like you described and made some changes. do you have my latest commits in your branch?

[2016-06-24 07:58] DamnedScholar commented on #60
Yeah. I found it as I was submitting my latest PR, and I was all up to date at that point.

[2016-06-24 11:28] jccguimaraes commented on #60
first point i have identified in the code and is an easy fix (so tomorrow will apply the patch).

the second point is intentional to add to tree or remove from it if you do the action in the update. So the only alternative i see is to make it as an option in config. what you think? i prefer to make it "syncable" between PV/TV.

[2016-06-24 12:00] jccguimaraes commented on #60
i need to investigate what you said regarding "even if it's not the active project". that sounds bad :D

[2016-06-24 16:00] DamnedScholar commented on #60
The status bar said that I had no active project selected.

Say you have two projects that both use the same external library, so you have it added as a path on each. You're working in project A and decide to remove the library from project B. It will disappear from your current tree view (though not from the PV entry for project A). It seems like it shouldn't do that unless you're removing the pa

[2016-06-25 12:19] jccguimaraes commented on #60
Yeah, you are right, this was really wrong! damn...
Fixed everything, now it will only add / remove in `tree-view` if the active project is the same as the updated one

[2016-06-25 13:23] jccguimaraes commented on #29
hey @saivan,

could you please describe better what this means? it has been a while and need enlightenment on this again.

sorry

[2016-06-28 10:07] jccguimaraes commented on #21
hey @markvandenbrink, will be releasing a new version with half of this issue fixed, will open a new one regarding only the 0 level in the tree.

[2016-06-28 10:24] jccguimaraes opened #61 "PERF: Ordering of level one items in PV tree"
# ISSUE

Level 1 items in the PV tree are naturally alphabetically ordered / sorted.
## Environment
- **OS**: all;
- **Atom**: all;
## Steps

No steps

[2016-06-28 10:30] jccguimaraes commented on #36
hi @yucer,
with the new version, this issue is still a _thing_ to you? Or can we close it?

[2016-06-28 10:32] jccguimaraes commented on #31
this is not an option for the moment, as there is no option natively to break panels in this matter, sorry

[2016-06-28 10:32] #31 closed

[2016-06-28 10:33] jccguimaraes commented on #61
#21

[2016-06-28 10:35] jccguimaraes commented on #61
This references to #21

[2016-06-28 11:31] #21 closed

[2016-06-28 11:31] jccguimaraes commented on #49
please validate this

[2016-06-28 11:31] #49 closed

[2016-06-28 11:32] jccguimaraes commented on #60
please validate this

[2016-06-28 11:32] #60 closed

[2016-06-28 13:55] astucieuxzephyr commented on #49
It works ! Thank you very much !! :)

[2016-07-02 13:20] jccguimaraes commented on #29
Closed due to no reply. Sorry

[2016-07-02 13:20] #29 closed

[2016-07-02 13:20] jccguimaraes commented on #36
Closed due to no reply. Sorry

[2016-07-02 13:20] #36 closed

[2016-07-04 09:01] ghego1 opened #62 "Uncaught TypeError: Cannot read property 'groups' of undefined"
Failed Update
1. After auto-updating to 0.3.12 this error was thrown

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.12

### Stack Trace

Uncaught TypeError: Cannot read property 'groups' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-04 09:24] DamnedScholar commented on #62
This might be a stupid question, but humor me. Errors sometimes happen when Atom updates a package, and then don't come back up when the package is activated on window start, so have you reopened Atom or at least forced a window reload since you updated?

[2016-07-04 09:32] ghego1 commented on #62
Yep, unfortunately after re-launching it came up this:

    Uncaught TypeError: Cannot read property 'groups' of undefined
    /Users/gherardo/.atom/packages/project-viewer/src/db.js:101

Stack Trace:

    TypeError: Cannot read property 'groups' of undefined
        at content.groups.forEach (/Users/gherardo/.atom/packages/project-viewer/src/db.js:101:38)
        at Array.forEach (native)

[2016-07-04 09:35] DamnedScholar opened #63 "Possible icon redundancy"
`icon-eye` appears to be identical to `icon-eye-unwatch` and `icon-eye-watch`. Unless those eyecons are being addressed differently in the CSS, they should be folded into one.

[2016-07-04 09:49] DamnedScholar commented on #62
Okay, so `db.js:101` is in the function that reads data from the old storage scheme. Please go into the package settings and see if "Convert Old Data" is checked. If so, uncheck it and reload.

You could also try cloning the repo locally and then use `apm install` and `apm link -d` in the directory. That will set it up as a dev package and you can load it from the repo instead of your normal packa

[2016-07-04 10:26] DamnedScholar commented on #63
Also redundant:

`icon-comment -> icon-comment-add`
`icon-git-branch -> icon-git-branch-create, icon-git-branch-delete`
`icon-git-pull-request -> icon-git-pull-request-abandoned`
`icon-lock -> icon-gist-private, icon-git-fork-private, icon-mirror-private`
`icon-file-binary, icon-file-text`
`icon-person -> icon-person-add, icon-person-follow`
`icon-plus -> icon-repo-create, icon-file-add`
`icon-rep

[2016-07-04 11:17] ghego1 commented on #62
Yep, worked :-)
Thanks!

[2016-07-04 14:25] jccguimaraes commented on #62
hi @ghego1 and @DamnedScholar,

Thanks for the feedback and workaround respectively.
Ticking the check won't erase anything, at least that's not the intention...

You weren't getting any notification about the old file?

[2016-07-04 14:27] jccguimaraes commented on #63
This is a good catch

[2016-07-04 22:33] DamnedScholar commented on #63
This is resolved in #64.

[2016-07-04 22:33] #63 closed

[2016-07-04 22:35] jccguimaraes commented on #63
Thanks dude!

[2016-07-04 22:37] DamnedScholar commented on #63
No problem. It'll be nice having the icon list be a bit easier to navigate.

[2016-07-04 22:40] #62 closed

[2016-07-04 22:43] jccguimaraes commented on #63
there were plans to just display the icon and add the _native_ notification on hover, what do you think?

[2016-07-04 22:49] DamnedScholar commented on #63
I'm not sure I understand what you're describing. I don't recall a "native" notification.

[2016-07-04 22:51] jccguimaraes commented on #63
my bad. just damn tired :) what I wanted to say was atom's native tooltip

[2016-07-04 23:07] DamnedScholar commented on #63
Oh, for the name? It would definitely make the list shorter, but I've found myself navigating it partially based on the name of the icon. If there's one I'm looking for, I know if I'm close based on the alphabetical sorting. Maybe a config setting would be best, then the package can execute one loop or the other based on the user's display preferences.

[2016-07-05 08:38] jccguimaraes commented on #63
yeah, my thoughts also on this. both and pros and cons, a settings would be more wise! Thanks.

[2016-07-05 08:41] jccguimaraes opened #66 "FEATURE: Icons list"
Add a setting option to switch icons list between `icon and text` and only `icon`.

[2016-07-07 00:39] ShiroiKuma opened #67 "ISSUE: Does not open left-aligned on first load"
# ISSUE
When opening Atom with project-viewer set to display on the left, it odes not always open on the left. It mostly opens up on the right side of the documents tree.

## Environment
- **OS**: ...; Mac OSX El Capitan 10.11.5
- **Atom**: ...; 1.8.0

## Steps
Open Atom and notice the project-viewer is to the right of the documents tree.
Close but don't quit
Re-open from the Dock and it now displ

[2016-07-07 01:47] DamnedScholar commented on #67
For clarification: it's *always* displaying on the left side of the editor, but when you open Atom it *sometimes* appears in between the tree view and the editor and sometimes on the left side of the tree view?

Probably a package load order thing. As far as I know, Atom has no real package priority system, so it just loads whatever. If this package and the tree view are both saying, "add me to th

[2016-07-07 02:26] ShiroiKuma commented on #67
Your clarification is correct yeah. On Windows I didn't notice this, only on the OS X version so far. I just tried another 10 times and it's hit-and-miss on OS X.

It more than likely is an internal load order thing as you say, first come first served.

[2016-07-07 03:57] DamnedScholar commented on #67
The solution might be to hold off on actually displaying the sidebar until the [onDidLoadInitialPackages](https://atom.io/docs/api/v1.8.0/PackageManager#instance-onDidLoadInitialPackages) event fires, which would effectively force the Project Viewer sidebar completely to one side.

[2016-07-07 11:39] jccguimaraes commented on #67
hi @ShiroiKuma and @DamnedScholar,
sorry for the delay response. Indeed it is a question of ordering because adding it depends on a parameter called priority or something like that, which i think I don't set because it's automatically set to the last and in this case it's running earlier than it should.

@DamnedScholar `onDidLoadInitialPackages` seems to be the correct way to do it.

Any one of yo

[2016-07-07 13:41] jccguimaraes commented on #37
@Hammster any luck?

[2016-07-08 20:09] Hammster commented on #37
sadly i had no time left, but i'll assign it to me.

[2016-07-11 07:37] #67 closed

[2016-07-12 03:45] inssitu opened #68 "Uncaught TypeError: Cannot read property 'visible' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.5
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.14

### Stack Trace

Uncaught TypeError: Cannot read property 'visible' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-12 03:49] inssitu opened #69 "Cannot read property 'addNode' of null"
When I try to create a new group or project, appears a notification:

[code]

[2016-07-12 06:49] jccguimaraes commented on #68
Thanks for opening an issue.
Will have a look at it.

*Are you interested in* **contributing** *to this project*? 💪

[2016-07-12 06:52] jccguimaraes commented on #69
Thanks for opening an issue.
Will have a look at it.

*Are you interested in* **contributing** *to this project*? 💪

[2016-07-12 06:53] jccguimaraes commented on #69
hey @inssitu, can you give more information on this please?

[2016-07-12 09:05] DamnedScholar commented on #68
@inssitu, to clarify: this happens every time you try to toggle Project Viewer to be visible, even after reloading Atom?

[2016-07-12 17:17] Hammster commented on #69
I have the same issue but with "pathNotInArray is not defined".

I did create a project and it happens when adding a path, it happend on my mac and windows PC with the pulled version from github and apm.

[2016-07-12 22:44] jccguimaraes commented on #68
will make the necessary safe check on this

[2016-07-13 00:10] jccguimaraes commented on #69
`pathNotInArray` this is weird. Something wen't wrong. This does not exists but is checked in an if.

[2016-07-16 09:52] Hammster commented on #69
Somehow this error did not occured anymore on my mashine after editing the project-viewer.json by hand.

[2016-07-16 16:25] Hammster commented on #66
Is this relevant with the #70 pull request? If so, then we need to keep in mind that the filter requires content on the button element. Or we need to additionally filter the classes.

Otherwise i would like slightly bigger icons in the icon only list too.

[2016-07-16 17:21] sjschmidt44 opened #71 "Add new Project - 'pathNotInArray is not defined'"
# ISSUE
I created several groups yesterday, and added projects to each successfully. This morning I'm trying to add an additional project to a group, and am receiving an error: `pathNotInArray is not defined`.

I've not changed any environmental settings, or added any additional packages to Atom since my last add to a group. This error is present regardless of the Group. I've restarted both Atom,

[2016-07-16 18:48] Hammster commented on #71
Thank you for the report, we are aware of the issue and it is under investigation. It is somehow linked to #69, could you try to backup you project-viewer.json, delete it and restart atom.

no worries, you can replace it later on with your backup file.

[2016-07-16 19:18] jccguimaraes commented on #69
so, `pathNotInArray` may have been a typo, will need to run some local tests to see if was only that. Thanks @Hammster for the feedback.

[2016-07-16 19:19] jccguimaraes commented on #71
so, `pathNotInArray` may have been a typo, will need to run some local tests to see if was only that. Thanks @Hammster for the feedback.

@sjschmidt44 will try to run your steps. thanks also.

[2016-07-16 19:25] sjschmidt44 commented on #71
Thanks for the quick responses!

Removing the `project-viewer.json` from the `menu/` dir (assuming you did not mean the `project-viewer.json` from the `keybindings/` dir), and then restarting Atom did not do the trick.

The Groups and Projects are still listed in the tree view, but when I click on a Project to update, all I see is the option to `Open in New Window`.

I moved the file back to the `

[2016-07-16 19:32] Hammster commented on #71
@sjschmidt44 i was aiming for the file in the atom home dir `~/.atom/project-viewer.json`

[2016-07-16 19:38] sjschmidt44 commented on #71
@Hammster I don't have that file in the `~/.atom/` dir.

[2016-07-16 19:43] Hammster commented on #71
oh my fault it should be under ` .atom\storage\project-viewer.json`

[2016-07-16 19:48] sjschmidt44 commented on #71
Removed that file from the dir, added a new Group and Project. The first group of paths that I added to the Project when I created were fine. When I went back to Update and add another path to that project it shot me the same `notInPath` error.

[2016-07-16 19:54] Hammster commented on #71
Thank you for the feedback, the fix is on its way.

[2016-07-16 23:07] jccguimaraes commented on #66
This is a good question. In my opinion it will make it rich if an option for only showing icons without descriptions. We can see the impact on the filter (i think it's minimal), and yes. making icons bigger would be top (in this case).

[2016-07-16 23:27] jccguimaraes commented on #68
Please validate if this still occurs.
Your **feedback** is vital! 👌
Thanks in advance.

[2016-07-16 23:27] #68 closed

[2016-07-16 23:27] jccguimaraes commented on #71
Please validate if this still occurs.
Your **feedback** is vital! 👌
Thanks in advance.

[2016-07-16 23:27] #71 closed

[2016-07-16 23:28] jccguimaraes commented on #69
@inssitu can you please update the package and validate if this still occurs?
Thanks

[2016-07-16 23:30] jccguimaraes commented on #22
@fireflyer95 and @cedvan i know this is a long FEATURE, but half is implemented, just didn't managed to get in my head the right workflow for completing this.

[2016-07-17 04:05] inssitu commented on #69
Thanks @jccguimaraes , it's working now :)

[2016-07-17 06:49] #69 closed

[2016-07-17 15:51] sjschmidt44 commented on #71
👍 All set here after update and restarting Atom.

Thanks again for diving into this yesterday!

[2016-07-17 23:37] DamnedScholar opened #75 "Bug: Can't remove project from client or group via the update modal"
Dragging a project out of its parent works, and selecting a new parent works, but if you deselect all parents, the project will not drop out of them. This applies to both clients and groups.

[2016-07-19 22:14] jccguimaraes commented on #75
Thanks for finding this.
Will investigate.

[2016-07-22 19:32] webguywalker commented on #62
👍 , Working with latest update to 0.3.15
- projects moved gracefully, thank you.

[2016-07-22 19:50] jccguimaraes commented on #62
:cool

[2016-07-23 10:31] ghego1 commented on #62
Great tks!

[2016-07-24 11:47] lneveu opened #76 "ISSUE: Close my openned files when I switch the "context""
Hey @jccguimaraes !
First of all, thanks for this package! I use it every day since the first versions :+1:
But since the 3.0 update (when you have refactored the clients/projects/groups management), the "behavior of contexts" has changed: now, when I switch between projects (or groups/project) all my files opened are closed :cry: (but conserved for the associated context).

Do you plan to add an

[2016-07-24 16:36] DamnedScholar commented on #76
If you want to have multiple contexts open at the same time, there's the choice to open projects in a new window. If you right-click on a project, you will see the option, and you can go into the settings menu for the package to toggle that as the default behavior.

[2016-07-24 17:27] LoannNeveu commented on #76
Thanks for the tips! But I would rather keep only one window like before.

[2016-07-24 19:24] DamnedScholar commented on #76
I don't understand your use case. In what circumstances do you want to open multiple different projects in the same window? Wouldn't that force you to do a lot of extra work closing tabs? Is this something that can be solved by adding multiple root paths to a project?

[2016-07-24 19:25] jccguimaraes commented on #76
hi @LoannNeveu, i know what you mean.
@DamnedScholar, previously you could simply switch between projects and only the tree-view package would be updated, keeping all files opened, even if they were from the previous project.

I don't see any problem in getting this old feature back.

[2016-07-24 19:31] jccguimaraes commented on #76
@LoannNeveu just be patient. Did not have much time these couple of weeks and if it weren't for these great guys (@DamnedScholar and @Hammster) contributing to this package, a lot of the current work would not be yet out.

But tell me, do you like the new version (expect for this issue missing)?

Also, you are welcome to **contribute** as well!

[2016-07-24 20:09] LoannNeveu commented on #76
Cool! Maybe if I find some free time, I will contribute to bring back this feature :smile:
And, yes, I really like this new version!

[2016-07-31 23:30] lexcast opened #77 "FEATURE: Open project in dev mode"
I would like to open certain projects in dev mode, but I don't know if this is currently possible.

[2016-08-01 00:04] jccguimaraes commented on #77
Hi @lexcast.
This is something I haven't thought of but seems to be reasonably to do it.

Been of a little but will cary on the work.

[2016-08-04 18:28] jccguimaraes opened #78 "ISSUE: Add root path in windows does not trim path as name"
# ISSUE
`Add root path` option in windows does not trim the first path to the last folder

## Environment
- **OS**: WIN;
- **Atom**: ANY;

## Steps
* Item - Create
* Click Project
* Add root path

[2016-08-05 09:07] #78 closed

[2016-08-17 12:00] scotthathaway opened #80 "Open last project/file by default"
# ISSUE
I switched from Project Manager to Project Viewer (you guys rock!).  I love several features, including groups of projects and the tree for selecting.  What I miss is Atom pulling up my last project and files by default.  Am I doing something wrong or is this feature not implemented?

Thanks,
Scott

[2016-08-17 18:45] jccguimaraes commented on #80
hi @scotthathaway,

Thanks for the kind words about this plugin.
I should do what you are asking, but i myself am experiencing that when opening atom, the state is gone. I think it's due to the recent changes in atom and need to figure it out.

Please be patient!

[2016-08-18 11:42] scotthathaway commented on #80
Ah.  Thanks for the fast reply!  I did not realize this was built in Atom functionality.  Hopefully Atom will get this fixed soon.

Scott

[2016-08-23 23:24] jccguimaraes commented on #77
hi @lexcast,

sorry for the late implementation of this, tomorrow morning will release new version with devMode option

[2016-08-24 10:44] jccguimaraes commented on #77
can you confirm this? Thanks

[2016-08-24 16:47] lexcast commented on #77
it works :tada: thanks

[2016-08-24 16:47] #77 closed

[2016-08-24 22:33] yucer opened #81 "can not remove project once if has been removed from the filesystem"
# ISSUE
I have deleted the project from my file system. Once I'm back in atom I want to delete it from the group of project viewer.

## Steps
Please try to describe **step by step** how to get to the issue.

1. Remove a project folder from the file system
2. Go back to Project viewer and try to delete the project

## Expected result

* A confirmation appears: This project was already deleted from

[2016-08-25 22:28] jccguimaraes commented on #81
hi @yucer, thanks for reporting this but it seems that you are using a really old version `0.2.34`an at the moment it's on `0.3.20`.
Can you please update the package and see if the result is the same? Thanks

[2016-08-26 08:21] yucer commented on #81
I didn't realize that. I always make this:

[code]

And it doesn't report me updates available. Should I manually uninstall 0.2 and install 0.3 ?

Would I loose my project list ? Can I export it  somehow ?

[2016-08-26 08:58] jccguimaraes commented on #81
wow! that's odd.

Well i advise you to save it to be safe, it will convert it but don't know if from that late version it will do it correctly.

it's on the .atom folder, file called `project-viewer.json`. You don't need to copy it afterwards

[2016-08-27 04:57] jccguimaraes commented on #81
@yucer any luck?

[2016-08-27 15:08] pete-hotchkiss opened #82 "v.0.3.19 - Switching between projects stalls"
# ISSUE: Switching between projects stalls
Description of the **issue**.

## Environment
- **OS**: OSX 10.11.2;
- **Atom**: 0.3.19;

## Steps
- switch

Switching between projects throws alerts warning only _one instance of item [object Object] at Item Registry_ can exist.

Stack track is:
[code]

[2016-08-27 15:32] pete-hotchkiss commented on #82
Here's the dialogue that pops up

![image](https://cloud.githubusercontent.com/assets/16895748/18028324/c42a4536-6c73-11e6-9ee5-99fcb0299e08.png)

[2016-08-27 15:48] jccguimaraes commented on #82
Hi, thanks for reporting this.

Can you update the package to see if this wlstill works?

[2016-08-27 16:06] jccguimaraes commented on #81
Regarding the update do you have latest atom version also? I usually target ro the latest

[2016-08-29 08:40] yucer commented on #81
I did update atom and the project-viewer addon update was detected.

The project info was automatically converted.

I did:

- added the new path to the project
- remove the old path
- click on update button

the project started to be  shown deleted (with a line through).

I did repeat the actions and everything was ok now.

The problem was that I have located all the projects of a group, I did cha

[2016-08-29 14:55] jccguimaraes commented on #81
good to know everything went almost well. if you have any more question, just shout

[2016-08-29 14:55] #81 closed

[2016-08-29 19:00] jccguimaraes commented on #82
@pete-hotchkiss any update?

[2016-09-01 13:13] gliviu opened #83 "Sidebar status is not remembered upon atom restart"
## Environment
- Windows 10
- Atom 1.9.8

## Steps
* Hide project viewer sidebar
* Restart atom
* Project viewer sidebar still visible

[2016-09-01 15:32] Hammster commented on #83
Thanks for your report,

this is actually not a feature that we've implemented. You can check the settings you've probably have `startup Visibility` enabled.

@jccguimaraes maybe this could become a feature.

[2016-09-01 15:57] Hammster commented on #66
I am currently working on this, im gonne give you more input on gitter once i am home.

![bildschirmfoto 2016-09-01 um 17 55 49](https://cloud.githubusercontent.com/assets/1093709/18174337/798e6c70-706d-11e6-871a-a55cb339b59b.png)

[2016-09-01 22:36] jccguimaraes commented on #83
this was supposed to work actually! Will make the necessary fixes! 👊

[2016-09-01 23:37] jccguimaraes commented on #83
well, got mixed up, actually, it it a feature that was not implemented nas @Hammster said.
@gliviu and @Hammster does it make sense to you that when `Toggle Sidebar` is activated, it will set/unset the `Startup Visibility`?

[2016-09-01 23:39] jccguimaraes commented on #82
@pete-hotchkiss this is because i am targeting latest Atom version, you should update Atom first, please validate this.

Thanks

[2016-09-01 23:39] jccguimaraes commented on #66
hey @Hammster, this really looks Ace work.

[2016-09-02 04:53] gliviu commented on #83
My bad not checking that setting. However, @jccguimaraes I think it would make sense to link 'Startup visibility' and 'Toggle sidebar'.

[2016-09-02 07:55] Hammster commented on #83
Maybe a good alternative would be a select (or radio)

- display on startup
- don't display on startup
- remember togglestate

This enables us more control over startup toggle state.

[2016-09-02 09:08] gliviu commented on #83
with 'remember togglestate' being the default. Will have to be careful the first time app is open, the sidebar has to be shown considering no state is there yet.

As a user, the two approaches do not make too much difference for me. What is important is the sidebar to be visible the first time I install the extension and then remember its decision. If this happens, most probably I would never go i

[2016-09-03 14:35] jccguimaraes commented on #83
Thanks for the input!

[2016-09-04 22:43] jccguimaraes commented on #83
will release this today or tomorrow

[2016-09-04 22:43] jccguimaraes commented on #82
@pete-hotchkiss any update on this matter? thanks

[2016-09-04 22:44] jccguimaraes commented on #80
@scotthathaway can you confirm that you are still having this issues? If so, provide Atom version and plugin version, as well as steps to reproduce this.

Many thanks

[2016-09-04 22:46] jccguimaraes commented on #76
@LoannNeveu, sorry for being so late in this feature, i must say, i forgot it :(

[2016-09-05 07:24] jccguimaraes commented on #83
please validate :)

[2016-09-05 10:38] Hammster commented on #83
It works, but is it really ok that it changes the user settings ?

If i want the project viewer to be hidden on startup, i have to hide it manually before i close atom. Even if i unchecked "Startup Visibility".

The togglestate should be saved as a separate variable not the setting value.

[2016-09-05 10:59] jccguimaraes commented on #83
yeah, i was thinking on changing to another property. maybe this was not the best solution. will fix it later

[2016-09-05 12:33] gliviu commented on #83
yes, persistence works fine now.

[2016-09-06 08:43] jccguimaraes commented on #83
changed the config file in the last update. what do you all think?

[2016-09-06 21:26] #83 closed

[2016-09-06 21:27] #82 closed

[2016-09-06 21:27] #80 closed

[2016-09-07 07:59] gliviu commented on #83
Perfect!! :)

[2016-09-10 10:43] LoannNeveu commented on #76
@jccguimaraes no problem! Me neither, I ran out of time :/

[2016-09-14 07:24] ckentq opened #85 "Create project modal can't click create button if window height is not enough"
# ISSUE
Description of the **issue**.

## Environment
- **OS**: mac 10.11.6;
- **Atom**: 1.10.0-beta7;
- window size: 1366 x 768;

## Steps
create a project -> create modal show.
the modal address too low, when adding project path, the create button is outside the window, and can't scroll modal content, so I can't really create any project

[2016-09-14 10:21] jccguimaraes commented on #85
hi @ckentq,

can you please provide some screenshots? Also, which theme are you using.
thanks

[2016-09-22 21:47] jerone opened #87 "Don't override `atom.devMode`"
# ISSUE
On [multiple places](https://github.com/jccguimaraes/atom-project-viewer/search?utf8=%E2%9C%93&q=atom.devMode+%3D+&type=Code) in the code the internal property `atom.devMode` is overridden with new value. Please don't do this; this should be a read-only property only! Other packages depend on this property too.

## Environment
- **OS**: Windows
- **Atom**: 1.11.0-beta5

[2016-09-22 22:46] jccguimaraes commented on #87
Sorry for thegitmagic, still wrapping my head around it's functionallity.

As we talked about, yeah this is not the best approach. will remove this hack until i have a decent alternative or not.

Also if you know of an alternative please share/contribute

[2016-09-23 17:35] jerone commented on #87
[**@jccguimaraes**](https://github.com/jccguimaraes) commented on [23 sep. 2016 00:46 CEST](https://github.com/jccguimaraes/atom-project-viewer/issues/87#issuecomment-249050153 "2016-09-22T22:46:35Z - Replied by Github Reply Comments"):

What are trying to achive when overriding

[2016-09-23 17:37] jerone commented on #87
[**@jccguimaraes**](https://github.com/jccguimaraes) commented on [23 sep. 2016 00:46 CEST](https://github.com/jccguimaraes/atom-project-viewer/issues/87#issuecomment-249050153 "2016-09-22T22:46:35Z - Replied by Github Reply Comments"):

What are trying to achive when overriding `atom.devMode` (here [1], [2], [3], [4])?

[1]: https://github.com/jccguimaraes/atom-project-viewer/blob/5b51bd82453e79a

[2016-09-26 09:21] jccguimaraes commented on #87
hi @jerone, this is due to #77.

[2016-09-26 10:36] jerone commented on #87
The only "correct" (read documented) way to open a project in devMode is [`atom.open({ devMode: true });`](https://atom.io/docs/api/v1.10.2/AtomEnvironment#instance-open).

[2016-09-26 10:38] jccguimaraes commented on #87
I know. I will remove this action, or make it open in another window (which messes with one of the main features of this package). But as discussed in the Slack, it is a hack and should be off.

[2016-09-27 06:01] jccguimaraes commented on #85
closing as I don't have more information on this

[2016-09-27 16:19] jccguimaraes commented on #87
So, for now i have removed the hack, until a get (or not) a proper way. Thanks for the feedback @jerone and @lee-dohm.

[2016-10-01 07:41] ckentq commented on #85
![-1](https://cloud.githubusercontent.com/assets/105282/19012613/54dc317c-87ed-11e6-931d-e1cd57af00b5.jpg)
Hi
This is my screenshot,
main problem is
1. when open it, I cant' find a close button to close the modal.
2. create button is under the viviable screen area, and I cant' scroll down to click create or cancel button

thanks

[2016-10-01 20:33] jccguimaraes commented on #85
Hi @ckentq, thanks for the feedback.
Will try to have a fix for this issue. Thanks

[2016-10-07 11:57] jccguimaraes commented on #85
Please validate this issue @ckentq, it is not the best solution, but until `0.4.0` isn't out, it will have to work 👍

[2016-10-07 11:58] #87 closed

[2016-10-08 21:08] #85 closed

[2016-10-15 20:55] eduardomart commented on #45
Just had this issue updating to 0.3.25

[2016-10-15 23:01] jccguimaraes commented on #45
wow! That is really strange! If you reload Atom, does it continue to happen?

[2016-10-21 22:02] eduardomart commented on #45
No, it was only when I installed it.

[2016-10-23 19:57] jccguimaraes commented on #45
i will look into it, see if i can recreate it. thanks

[2016-10-23 21:51] Pauan opened #88 "Fix switching projects should not create a new pane"
# ISSUE
When I switch from one project to another, it creates a new pane per project (each pane contains the tabs for that project):

http://i.imgur.com/lNzUTs0.png

In the above image, there are three projects open: `Scratch`, `node-server`, and `fable-view`. Each project is open as a separate pane.

I don't want this. When opening a project, I want it to replace the tabs in the existing pane, no

[2016-10-23 22:49] jccguimaraes commented on #88
Hey, @Pauan,

Thanks for all the information you gave.
In fact it should not behave like this, it should in the way you want.
I don't have Linux installed and will try to check this out.

The error seems to be related.

[2016-10-24 04:16] Pauan commented on #88
@jccguimaraes I just tried disabling all of my plugins and re-enabling them one-by-one. I found that the plugin which caused it to break is actually [ionide-fsharp](https://atom.io/packages/ionide-fsharp)! After disabling `ionide-fsharp`, everything works great! Thanks for creating such a great plugin.

I don't know why `ionide-fsharp` would cause it to break, but it's probably not the fault of `a

[2016-10-24 04:16] #88 closed

[2016-10-24 05:55] jccguimaraes commented on #88
@Pauan, this is actually interesting.
I will take a look at that package to see what it does!
You haven't wasted anyone's time and I am glad it's not from here.

Thanks for the feedback on the plugin itself. If you have any suggestions or want to contribute just give me a shout.

Take care

[2016-10-24 15:33] Pauan commented on #88
@jccguimaraes If you still want to investigate this further, here are the steps that should reproduce the problem:

1) Install `ionide-fsharp` and `atom-project-viewer`

2) Restart Atom

3) `git clone https://github.com/Pauan/fable-getting-started`

4) Open `fable-getting-started` as a project in `atom-project-viewer`

5) Open a second project in `atom-project-viewer` (it doesn't matter what it is

[2016-10-24 19:03] ackerdev opened #89 "FEATURE: Add fuzzy project search"
It would be extremely convenient if the project search used fuzzy matching.

Currently I have to be conscious of whether the project I'm looking for has a camelCased name, or dashes, or underscores, and if I have multiple projects with similar prefixes I have to type the entire prefix to be able to filter down via text. If the search was fuzzy, it would make switching to projects even faster and e

[2016-10-24 21:10] ackerdev opened #90 "FEATURE: Clear project search after selection"
I would like the project search field to be empty when I open the project switcher, so that I don't have to clear the field before I can start typing in the project's name.

Currently it leaves the last entry in the search field, meaning that if opened `foo` earlier and I want to switch to `bar`, I have to select all and delete before I can start typing `bar`.

[2016-10-25 18:03] Pauan commented on #61
It is currently possible to manually reorder the top-level items.

Is this issue about *persisting* the ordering, rather than resetting to alphabetical on restart?

[2016-10-25 23:40] jccguimaraes commented on #89
hi @ackerdev,

Thanks for this feedback!
That could be a really nice feature to implement indeed.

I am currently working on the new version, so i think i will add it to `0.4.0` if you don't mind.

If you wish to contribute you are welcome!

Is this ok for you?

[2016-10-25 23:41] jccguimaraes commented on #90
hey again @ackerdev,

my bad :dagger:
will try to add it in `0.3.x` version!

Thanks for the great feedback.

[2016-10-25 23:43] jccguimaraes commented on #61
@Pauan
This is a buggy behavior that i am reimplementing on the `0.4.0` version. I believe it would be an overhead of work for me to fix in the `0.3.x` version.

Sorry about that :cry:

[2016-10-25 23:45] jccguimaraes commented on #50
this is going to be implemented only on `0.4.0` version!

[2016-10-25 23:46] jccguimaraes commented on #76
this is going to be implemented only on `0.4.0` version!

[2016-10-26 00:58] Pauan commented on #61
@jccguimaraes No worries, I was just wondering whether this was the right issue or whether I should file a new one. I don't mind waiting for 0.4.0

[2016-10-26 05:47] jccguimaraes commented on #61
you wont regret it :laughing:

[2016-10-26 18:10] LoannNeveu commented on #76
Thanks !! I am looking forward to it :+1:

[2016-10-30 11:10] jerone opened #91 "Beautify project-viewer.json"
# ISSUE

All projects are stored on _one line_ in the file `project-viewer.json`, making reading and altering that file very difficult. I would like to propose an option to beautify the content of that file.

[2016-11-01 14:36] jccguimaraes commented on #91
Hi @jerone,

This file is actually being stored by atom itself, so even if you beautify it, it will go back to a stringified version of it.

[2016-11-01 15:53] jerone commented on #91
Yeah I had a suspicion that was the [case](https://github.com/jccguimaraes/atom-project-viewer/blob/346a06a4c5d4e01b7b73bf62cfc31b94bf3bbcae/src/db.js#L235).

The use-case for a more used storage location (`~/.atom` root) is probably very limited?

[2016-11-02 00:15] jccguimaraes commented on #91
initially it was on the `~/.atom` but for this matter, i needed to make the workflow of `rw` and it was buggy when Atom crashed an all. So I decided to go with the _native_ api, so at least the file would not be corrupted. But `storeSync` / `load`, only fetches from the `storage` folder.

This situation created the ability to save it to the "cloud" (private gist).

I can't find any safe bet for it

[2016-11-02 20:40] jerone commented on #91
[**@jccguimaraes**](https://github.com/jccguimaraes) commented on [2 nov. 2016 01:15 CET](https://github.com/jccguimaraes/atom-project-viewer/issues/91#issuecomment-257737451 "2016-11-02T00:15:45Z - Replied by Github Reply Comments"):

I actually use [Sync Settings](http://atom.io/packages/sync-settings) package to back-up the `storage\project-viewer.json` file to a gist. Because the content is an

[2016-11-02 20:40] #91 closed

[2016-11-04 14:57] dsoares opened #92 "FEATURE: Override configuration by project"
# Override configuration by project

First of all, thank you for this package! :)

This is half a question, half a feature request. I would like to know if this package accepts overriding Atom configuration by project (like project-manager).
Something like:

[code]

Am i able to add that `settings` property to a project, to override the global Atom configuration (even if i added it manually to the

[2016-11-06 00:05] jccguimaraes commented on #92
hi @dsoares,

Thanks for the kind words, that's what keeps me going.

Currently i am doing an enormous change on the package, implementing a lot of new stuff, dropping other things.
This runner to a feature is interested, but does it not make sense to just use a `.editorconfig` file for each project?

either way, i would investigate this addon to the settings.

I am investing a lot of time in how

[2016-11-09 10:58] tuanquynh0508 opened #93 "Fix: Missing DEV Icons"
# ISSUE
Hi !. I missing icons dev in my Atom

## Environment
- **OS**: Ubuntu 16.10;
- **Atom**: 1.11.2;
- **Project Viewer**: 0.3.25;
- Any other particularity;

## Steps
Please try to describe **step by step** how to get to the issue.

[2016-11-09 11:01] jccguimaraes commented on #93
hi @tuanquynh0508,

This is because i am using latest for the devicons and octicons package and they changed the structure.
Will try to make it work again sorry for this.

[2016-11-09 11:36] dsoares commented on #92
Hi,
I didn't know `.editorconfig`, it will work. Although this will be one more dot file in the project root directory.. I would rather put it in my Atom configuration, since it is only related with Atom.

But since `.editorconfig` can do the job, keep the very nice work here implementing the new features! Maybe in the future, you'll think about it ;)

[2016-11-09 11:36] #92 closed

[2016-11-09 11:38] jccguimaraes commented on #92
you bet!!!

[2016-11-10 02:27] tuanquynh0508 commented on #93
Hi @gitmagic-bot : Sorry because first time I post issue. I will format better for next time. Thanks.
Hi @jccguimaraes: Thanks you.

[2016-11-10 20:56] RemekConsulting commented on #76
Guys firstly thanks for the fantastic project tool. It has made using Atom work for me. Like Ineveu I also miss this old feature and would like to give one example where it has been particularly useful.

When I would like to copy a lot of code from one project to another, or compare two different versions of a file from two different projects, it was very handy to have them side by side in tabs. Y

[2016-11-10 21:44] lneveu opened #94 "ISSUE: shortcuts are not working using Windows"
# ISSUE
Hi,
I just realized that shortcuts don't work with Windows :o **cmd** key does not exist.
And it's probably the same with Linux environment. You should try to adapt shortcuts according to environments?
Like:

[code]

Thx :)

## Environment
- **OS**: Windows 10;
- **Atom**: 1.12.0;

[2016-11-11 00:04] jccguimaraes commented on #94
hey @lneveu thanks! my bad :+1:

let me see if i can make if available tomorrow, fixing some anoying bugs from 3rd party deps...

[2016-11-11 00:09] jccguimaraes commented on #76
So, version `1.0.0` is taking really damn to long to come out.
A lot of ideas, lots of changes, features, refactors, more refactors, delusions, a little more refactors, and just to little time to do it fast and good.

I am aiming this version to be THE last refactor one. More community friendly and fast-driven feature implementation.

It has grown so fast, atom changed a lot also.

Well, the point

[2016-11-11 00:33] jccguimaraes commented on #94
@lneveu o.O what version of the package you are using?

latest version uses the following keymaps

[code]

Can you validate this for me?

[2016-11-11 09:24] lneveu commented on #94
(I'm using the last version of the package at home, but at work I'm still with the 0.2.34 because of this issue #76 ^^)
Sorry, I misspoke :/ It was just an example of how you can (maybe?) fix this issue.
Here, the full keymaps that I have changed to match with my usage:

[code]
I let you try if it's ok for you? Or if you want to change keys or something.

[2016-11-11 09:25] jccguimaraes commented on #94
:tophat: sir

[2016-11-11 20:34] jccguimaraes commented on #94
i have mapped for the `1.0.0` release the following combinations:

`shift-ctrl-alt-<x>` do you feel comfortable with this?

[2016-11-11 22:54] lneveu commented on #94
Thx!
Maybe those combinations are not "very handy" to be easily used but, as you mentioned it, there are so much packages and the number of keys is limited ^^
Anyway, people can re-map the commands with their own shortcuts using the keymap.cson file if they want 😄
(in my case, I'll certainly re-map them with `shift-ctrl-<x>` 😛 )

[2016-11-12 11:02] jccguimaraes commented on #94
Just release `0.3.26`. Can you check this out please?

[2016-11-12 11:02] jccguimaraes commented on #93
Just release `0.3.26`. Can you check this out please?

[2016-11-12 11:02] jccguimaraes commented on #90
Just release `0.3.26`. Can you check this out please?

[2016-11-12 11:02] jccguimaraes commented on #76
Just release `0.3.26`. Can you check this out please?

[2016-11-12 11:02] jccguimaraes commented on #75
Just release `0.3.26`. Can you check this out please?

[2016-11-12 11:34] lneveu commented on #94
Thank you! All seems good! (and don't forget to update README.md file with updated shortcuts 👍 )

[2016-11-12 11:45] lneveu commented on #76
YEAH 🙏  At first sight all seem good 👍 I'll go back to you after checking this feature in depth.

[2016-11-12 11:47] jccguimaraes commented on #94
Good catch, just updated. Will close this then!

[2016-11-12 11:47] #94 closed

[2016-11-12 14:54] #93 closed

[2016-11-12 14:54] #90 closed

[2016-11-12 14:54] #75 closed

[2016-11-14 02:37] tuanquynh0508 commented on #93
@jccguimaraes I just update latest version, everything work well. Thank you very much!.

[2016-11-14 21:35] ackerdev commented on #90
Just updated, looks all good here. Thanks for your work on this 😄

[2016-11-14 21:38] jccguimaraes commented on #76
any side effects here @lneveu?

[2016-11-14 22:09] lneveu commented on #76
I'm experiencing many issues with the Atom new release (v1.12) 😢 (Git-diff is not working anymore, huge UI issues with my theme (seti-ui + vertical tabs), etc. Is it the same for you?)
But with project-viewer, all seems good 😄

[2016-11-14 22:15] jccguimaraes commented on #76
I installed `seti-ui` and `vertical-tabs`. I think `seti-ui` is screwing everything right now. Don't forget that `>1.12.0` brings a lot of changes, specially in Electron and node. So it may have some issues until the guys from their packages fix/get up to date.

I personally don't use them and don't have any problems. `git-diff` seems to work fine, i use the terminal for git anyways

[2016-11-14 22:16] jccguimaraes commented on #76
I will close this issue if you don't mind

[2016-11-14 22:17] lneveu commented on #76
Thanks for your feedback! I'll try to re-install every packages.
Yep, you can close it.

[2016-11-14 22:21] #76 closed

[2016-11-16 22:09] ackerdev opened #95 "ISSUE: Project Swap on Atom Search"
I'm experiencing an odd issue when using the atom search palette that seems to be being caused by project-viewer. However, it doesn't appear to be consistent to reproduce.

When it is happening...
1. Open atom's search palette (cmd+f)
2. Type anything and hit enter
At this point, project-switcher kicks in and takes me to my alphabetically-first project, closing the search palette and not opening t

[2016-11-16 22:57] jccguimaraes commented on #95
Hi @ackerdev,
Thanks for this feedback, it indeed seems something is wrong with this package. I will have to make some experiments, sorry about it.

[2016-11-17 21:15] eduardomart opened #96 "Fix: Clients/Projects getting mixed up"
# ISSUE
I added a new project to a new client and it didn't appear under the client, I restarted atom and now all my projects are under the wrong client.

## Environment
- **OS**: macOS Sierra 10.12.1
- **Atom**: 1.12.3

[2016-11-17 21:56] jccguimaraes commented on #96
@eduardomart thanks for reporting this,

Let me take a look at this!

[2016-11-17 22:04] eduardomart commented on #96
Maybe this notification can be of some help, it appears everytime I reopen Atom now:

![screen shot 2016-11-17 at 2 03 24 pm](https://cloud.githubusercontent.com/assets/1833020/20409500/bb200d40-acce-11e6-844e-c14726e0dd69.png)

[2016-11-17 23:46] jccguimaraes commented on #96
this message is because the old file structure no longer exists and if you don't want to be warned again for this attempt to migrate old data to the current one. go to package settings and untick `Convert Old Data`.

Regarding the actual issue here, still investigating

[2016-11-17 23:50] jccguimaraes commented on #96
I have tried to follow your steps.

1. `Convert Old Data` is set to true, so i have that notification every time
2. I don't have any Clients / Groups or Projects created.
3. I create a new Client
4. I create a new project within the new Client
5. I create a another new Client
6. Restart and everything is as expected

Is this the current process for you?

[2016-11-18 00:05] jccguimaraes commented on #95
hi @ackerdev,
So regarding the errors in the console, i have fixed that, although that is really weird to show.

Please correct me if i am wrong.

You open the `find-and-replace` package with `cmd+f` and write something and press enter right?
I can only see a problem here, you previously have opened the `toggle Select view` from `project-viewer` from keypath `shift-ctrl-alt-v` and somehow, it keep

[2016-11-18 00:06] jccguimaraes commented on #95
indeed it is this issue! damn

[2016-11-18 08:47] jccguimaraes commented on #95
@ackerdev please validade in the `0.3.28` version!

[2016-11-18 19:33] ackerdev commented on #95
So far, no problems. If it didn't fix, I'll probably know by the end of today. I'll go ahead and close this assuming it's fixed, and if for some reason I experience it today I can always reopen.

Thanks for fixing this 😄

[2016-11-18 19:33] #95 closed

[2016-11-18 20:55] eduardomart commented on #96
I just went thru them and here's all I could find out, a couple of clients had projects under them, which were correctly set before, but for some reason the client tag wasn't highlighted when I went to 'update' them, I don't know how this happened so I am not sure I can tell you the steps to recreate the issue. I do know Atom updated to 1.12.3 before this happened though.

[2016-11-19 19:35] jccguimaraes commented on #89
@ackerdev can you please validate this issue after the MR from @lneveu?

Thanks

[2016-11-20 04:51] brewster1134 commented on #92
Being able to have project specific atom configuration is keeping me from swithing from project-manager.  the linting is fine to use editorconfig, but i mainly depend on being able to specify the `IgnoredNames` array. I cant always rely on just ignoring files in version control, and they will vary drastically across various project types (AEM, Java, JS, etc)

I would be very interested in knowing

[2016-11-20 10:40] jccguimaraes commented on #92
hi @brewster1134, i will make an investigation to this feature as at least you and @dsoares are keen to this

[2016-11-21 00:10] jccguimaraes commented on #92
Hey @dsoares and @brewster1134,

So I have been digging and I have only found a way to make this work.

1. backup current editor settings
2. each project sets it's own rules
3. new projects inherits from the backup settings
4. possibility to revert individual projects to the backup or all projects

Any feedback?

[2016-11-21 01:19] brewster1134 commented on #92
not sure i follow...
do you mean as you load a project, it swaps out the core config.cson editor settings?  it would probably be pretty dangerous and problematic to do anything with the core config aside from read-only.

IMO the ideal approach would be either unique settings file for each project that the global config.cson is reverse-merged into and loaded.

project-manager does with a `projects.

[2016-11-21 12:38] jccguimaraes commented on #92
As said in the slack channel of atom **"There isn't a project-specific configuration convention in Atom right now"**.

But if you are interested in contributing be my guest, you are more than welcome to do that!
I think it overrides the core config also...

[2016-11-21 17:17] ackerdev commented on #89
@jccguimaraes #97 didn't add what I'm talking about here. It made the search case insensitive, which is a good thing, but not quite the same as fuzzy searching. A fuzzy search would allow me to type `foobar` to search for a project named `foo-and-bar`.

[2016-11-25 07:00] jccguimaraes commented on #96
can we close this and if the problem occurs again we try to deal with it again @eduardomart?

[2016-11-25 22:01] eduardomart commented on #96
Sounds good. Thanks!

[2016-11-27 07:35] jccguimaraes commented on #89
@lneveu you want to take a look at this?

[2016-11-27 14:14] lneveu commented on #89
I'll look at that as soon as I can!

[2016-11-29 00:19] jccguimaraes commented on #89
@ackerdev hope this has fixed!

[2016-11-29 01:54] ackerdev commented on #89
Yep, this is fixed! Thanks & great work!

[2016-11-29 01:54] #89 closed

[2016-12-02 16:06] codeitco commented on #37
Hey guys,

Any updates on the progress of this feature? I LOVE project viewer and plan to continue using it extensively but the tiny panel is making it harder lol :)

[2016-12-03 16:28] codeitco opened #100 "Colors lost when updating project settings"
# ISSUE

Updating any existing project group removes any set color preference (back to default - uncolored state)

## Environment

Windows 10;
Atom 1.12.6 Stable;
Project Viewer 0.3.32

## Steps to reproduce

1) Click on any project group to select it
2) Right-click and choose update
3) Make a change to something such as the title, icon or path
4) Click "Update"
Any set color should be removed fro

[2016-12-04 15:29] jccguimaraes commented on #100
hey @codeitco,
thanks for pointing this out, i will have a look at it and hopefully fix this quickly!

[2016-12-04 15:31] jccguimaraes commented on #37
@hey @codeitco,

I will pick this up and try to make it released today!

[2016-12-04 17:03] jccguimaraes commented on #37
@codeitco can you please validate this on `0.3.33` version?

[2016-12-05 00:49] codeitco commented on #37
Hi,

Unfortunately its still doing this on 0.3.33.

Even just a simple group name change removes the color setting. Could it be
something related to the "Set Color" checkmark at the bottom of the dialog?
Whenever I make a change and hit update, the next time I open it, that
checkmark is no longer green and disabled which in theory could be why the
color is removed but that might also be happening

[2016-12-05 05:28] jccguimaraes commented on #37
@codeitco?!? wrong issue? :)

[2016-12-05 15:00] codeitco commented on #37
WHOOPS! I obviously didn't read properly :( Sorry my friend, you can delete the unrelated comment or move it to my color issue if thats possible. Thx

[2016-12-05 15:02] codeitco commented on #37
BTW, its working for me! The panel resizes nicely! Thanks so much for adding this feature!

[2016-12-05 15:03] jccguimaraes commented on #37
no worries, although i think i have resolved this current one. can you validate?

[2016-12-05 15:03] jccguimaraes commented on #37
cool

[2016-12-05 15:03] codeitco commented on #100
Hey @jccguimaraes, Not sure if this will be helpful or not, but I just wanted to add that I noticed the color sticks if you remove and set it again on each group update.

[2016-12-05 15:04] #37 closed

[2016-12-05 15:05] codeitco commented on #100
Since we are on the color issue, if I could also request having the option in the package settings to set the active project / header color? The green works, but it would be nice to have control over this as well.

[2016-12-05 15:40] Getz85 commented on #37
Works perfectly, thanks!

[2016-12-05 23:45] jccguimaraes commented on #100
@codeitco, missed the last comment, i can try to investigate on this sure :+1:

[2016-12-07 05:59] jccguimaraes commented on #100
@codeitco version `0.3.35` fixes the color issue, please validate.
Will now try to make the feature possible.

[2016-12-07 06:46] jccguimaraes opened #101 "FEATURE: Custom selected color"
Ability to customize the current selected project color

[2016-12-07 06:48] jccguimaraes commented on #100
@codeitco please refer to the #101 for the selected color

[2016-12-07 06:48] jccguimaraes commented on #101
@codeitco please validate this also! Many thanks

[2016-12-07 14:33] codeitco commented on #101
Works great! Thanks for adding! Can you also do the same for hover color? Sorry to be picky, but customization is king! ;)

[2016-12-07 14:34] codeitco commented on #100
YUP, CONFIRMED FIXED! Thanks for the fast action on this!

[2016-12-07 14:36] codeitco commented on #101
I also noticed you made the change for hiding icon descriptions and only showing icons. That's great idea but when that's enabled, any way to enlarge the icon preview as they are a bit hard to see?

[2016-12-07 14:44] codeitco opened #102 "Some Icon colors forced white"
# ISSUE
Some Icons are forced white, regardless of the assigned group color.

## Environment
Windows 10
ATOM 1.12.6

## VERIFY
When adding/updating a project or group, there are some icons (such as the alignment icons) that appear bright white and don't adhere to the group color that is assigned.

[2016-12-07 15:04] jccguimaraes commented on #101
1. will try to make it available for the hover color
2. i need to check if the icons don't loose shape (or find a nice font-size for it

[2016-12-07 15:06] jccguimaraes commented on #102
can you share a small preview of this please?

[2016-12-07 15:07] #100 closed

[2016-12-07 15:07] jccguimaraes commented on #66
[ ] make them bigger

[2016-12-07 15:42] codeitco commented on #102
![icon-color-bug-1](https://cloud.githubusercontent.com/assets/20772638/20974337/d80b0342-bc69-11e6-8f1f-f2defc5b9faa.jpg)
![icon-color-bug-2](https://cloud.githubusercontent.com/assets/20772638/20974336/d8054218-bc69-11e6-8862-a4ff20b79296.jpg)

[2016-12-08 13:32] jccguimaraes commented on #102
hey @codeitco!
I can't replicate this issue :(

[2016-12-08 13:38] jccguimaraes commented on #101
@codeitco please validate version `0.3.39`.

[2016-12-08 13:38] jccguimaraes commented on #66
@codeitco please validate version `0.3.39`.

[2016-12-08 18:14] codeitco commented on #102
Its weird eh!? So in your icon layout screen as in my 2nd screenshot, do you see the icons as dim grey or whiter? I thought maybe something in my styles.less file is messing it up but I don't see anything unusual.

/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customiz

[2016-12-08 18:18] codeitco commented on #101
It works! Thanks! Can you please also have the hover color set to the header "Project Viewer"? It would make sense since that only turns green when hovering over the panel. The green seems out of place for my editor theme as a whole.

[2016-12-08 18:20] codeitco commented on #66
Awesome work! Looks great! Thanks so much!

[2016-12-08 18:24] codeitco commented on #102
Btw, there are only 6 or 7 icons doing this, so maybe not worth fixing anyways. If I ever discover anything new about this issue, I'll be sure to report it.

On the other hand, if you need more info from me regarding other packages, atom settings etc, I'll be happy to provide :)

Thanks for your time and consideration on this.

[2016-12-08 18:31] #66 closed

[2016-12-08 18:35] jccguimaraes commented on #102
try to comment this part

[code]

[2016-12-08 18:37] jccguimaraes commented on #102
try to open the devTools and inspect the `.icon span::before` on those icons and see if anything is overriding it

[2016-12-08 18:42] jccguimaraes commented on #102
i will close this issue and if you find the cause for it, we open it again ok?

[2016-12-08 18:42] #102 closed

[2016-12-08 18:42] jccguimaraes commented on #101
:running_man:

[2016-12-09 14:21] egbradshaw commented on #102
@jccguimaraes

Thanks for the suggestion, I was able to drill down and find whats causing it.

On the element:
<span class="icon icon-file-text">
	::before == $0
NOTES / COMMENTS
</span>

The before that is there has this applied to it in dev tools

body:not(.seti-icons-no-color) atom-workspace .icon-file-binary:before, body:not(.seti-icons-no-color) atom-workspace .icon-file-pdf:before, body:not(

[2016-12-09 14:22] egbradshaw commented on #101
Are you out for a run? lol. sorry I dont' know what you mean hehe

[2016-12-09 14:25] jccguimaraes commented on #102
@egbradshaw i will try to have a look this weekend on this matter! thanks for the feedback

[2016-12-09 14:27] jccguimaraes commented on #101
@egbradshaw no run! :smile: that was me going back to the plugin to add more customization (I lack of imagination sometimes)

[2016-12-09 14:29] codeitco commented on #101
ohh ok hehee :) All good my friend.

[2016-12-15 19:15] GreenGremlin opened #103 "Project paths added to an open project are lost after closing and reopening the project"
# ISSUE
Root folders added to an open project, either using the update project dialog or project manager's "Add Project Folder" action, are lost after closing and re-opening the project.

## Environment
- **OS**: macOS 10.12.1;
- **Atom**: 1.12.2;

## Steps

- right click on an existing project
- click "update"
- click "Add root paths:"
- select a folder not already in the project
- observe: new p

[2016-12-15 19:20] GreenGremlin opened #104 "Root paths should be left justified in the project dialog"
# ISSUE
Minor issue: When editing an existing project (and likely when creating a project), the list of root folders is center justified. They should be left justified.

## Environment
- **OS**: macOS 10.12.1;
- **Atom**: 1.12.2;

## Steps

- right click on an existing project
- click "update"
- observe: the root paths are center justified

[2016-12-15 19:21] GreenGremlin commented on #103
I am able to add root paths if I close the project, add the path(s), and then re-open the project

[2016-12-15 19:26] jccguimaraes commented on #103
hey @GreenGremlin,

Thanks for reporting this. Will investigate this!

[2016-12-15 19:30] jccguimaraes commented on #104
hey @GreenGremlin again,

Will take a look at this UI issue.

Thanks.

Feel free to contribute also!

[2016-12-21 11:31] jccguimaraes commented on #103
@GreenGremlin can you please validate this?

[2016-12-21 11:31] jccguimaraes commented on #104
@GreenGremlin can you please validate this?

[2016-12-21 11:32] jccguimaraes commented on #101
@codeitco can you please validate this?

[2016-12-21 13:08] tarikkavaz opened #105 "Uncaught TypeError: Cannot read property 'type' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.7
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package, v0.3.40

### Stack Trace

Uncaught TypeError: Cannot read property 'type' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-12-21 13:13] jccguimaraes commented on #105
@tarikkavaz, please check with `0.3.41` update.

Sorry for this

[2016-12-21 13:21] tarikkavaz commented on #105
👍

[2016-12-21 13:21] #105 closed

[2016-12-21 14:11] philip-hodder opened #106 "Project config being corrupted"
# ISSUE
Project configuration files are being corrupted. It looks like it is adding the root path of the previous selected project to the current project.

I've noticed that there have been two releases in quick succession today (0.3.40 and 0.3.41?). This has only happened since these were issued.

This is a great plugin but this update has completely killed it - I switch between projects all the

[2016-12-21 14:31] jccguimaraes commented on #106
hey sorry for this :( will try to fix it ASAP

[2016-12-21 14:32] codeitco commented on #101
Works great! Thanks for implementing! I may have more suggestions/ideas if your interested?

[2016-12-21 14:39] codeitco opened #107 "Newly created projects don't get initially sorted alphabetically."
# ISSUE
Whenever you create a new project under a group that is set to sort the list alphabetically, the project gets added to the end of the list regardless of the setting and must be manually dragged into the proper position OR you have to switch temporarily to "position" sort and then back to "alphabetical" to move the new project into the right position in the list.

## Environment
- **OS**: W

[2016-12-21 15:04] jccguimaraes commented on #101
Of course @codeitco, and you are more than welcome to contribute!

[2016-12-21 15:04] #101 closed

[2016-12-21 15:42] jccguimaraes commented on #106
@philip-hodder,

Once again, sorry for this, can you check on the `0.3.42` version? you will need to revert the paths config unfortunattly.

[2016-12-21 20:10] philip-hodder commented on #106
Hi! Thanks for the quick fix! I'll have to check my work machine (with Windows 7) tomorrow, but it seems to be OK on my Mac right now.

[2016-12-21 20:18] jccguimaraes commented on #106
cool @philip-hodder! let me know then

[2016-12-21 20:19] jccguimaraes commented on #107
i think this will not be fixed until `1.0.0` version. this can take me a lot of time. but if you feel this is a MUST currently, i will allocate time to it

[2016-12-22 08:48] philip-hodder commented on #106
Hi! Seems to be working fine on the Windows 7 machine. Thanks for the quick response!

[2016-12-22 08:50] #106 closed

[2016-12-22 20:39] GreenGremlin commented on #103
How do I install the fix?

[2016-12-22 20:47] jccguimaraes commented on #103
you just need to update the package, Atom notifies you of outdated packages

[2016-12-23 03:46] codeitco commented on #107
@jccguimaraes, pal, its totally up to you. Its not vital at all to me, just wanted to put it on the bug list for whenever its convenient for you. As a workaround, I can easily drag new projects into the correct spot or just toggle the sort modes whenever I need to clean up the list.

I may actually consider helping but I'm just so busy right now with 2 young kids in my life and I'm normally only o

[2016-12-23 07:42] jccguimaraes commented on #107
talk to me in gitter or other chatapp if you want ;p

[2016-12-23 17:59] GreenGremlin commented on #103
Ah, didn't realize you had pushed a release out. Yes, it is fixed for me, thank you!

[2016-12-23 18:22] #103 closed

[2016-12-23 18:23] #104 closed

[2017-01-14 05:01] jaredreich opened #108 "How to open last open project/file on restart"
Hi there, amazing work on this package.

Just curious, no matter what project I am working on, when I close and re-open Atom it always seems to fallback to the same project, not the one I was last working on.

Thanks for your help!

[2017-01-15 13:01] jaredreich opened #109 "Atom tree view is toggled off when Atom is restarted"

[2017-01-16 11:00] jan-vince opened #110 "Cannot filter project icons"
With Atom 1.13.0 icon filter field throws ```Uncaught TypeError: Cannot read property 'buffer' of undefined``` error and icons are not filtered.

No problem to find icon by hand, but search was much faster :)

Jan

----

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package,

[2017-01-16 11:23] jccguimaraes commented on #110
hey @jan-vince, yeah this is because they updated the `octicons` version and i need to check it back again.

Sorry for not keeping up to date.

Will try my best  today or tomorrow...

[2017-01-16 11:24] jccguimaraes commented on #109
need to check due to the new atom version `1.13.0`.

[2017-01-16 11:25] jan-vince commented on #110
Hi, no problem - just wanted to let you know!

[2017-01-16 11:25] jccguimaraes commented on #108
hey @jaredreich, sorry for this, it may be related to the new versions of atom, I know they changed a bit the workflow for projects.

Just be patient and thanks for the vote of confidence.

[2017-01-16 12:27] jaredreich commented on #108
I'm on Atom 1.12.6

[2017-01-16 12:28] jccguimaraes commented on #108
hummmm, need to investigate then! :/

[2017-01-22 09:52] jccguimaraes commented on #110
today i will have a look at some other issues, at the end of the day this will be published

[2017-01-22 09:54] jccguimaraes commented on #109
sorry for replying only now, can you give me more intel on this?

have you checked the settings of the package?

see if `Visible State` is set to **Display on Startup** and `Visibility Action` checked (true)

[2017-01-22 09:56] jccguimaraes commented on #108
i can replicate this, will investigate this more today

[2017-01-22 17:24] #110 closed

[2017-01-22 18:17] jccguimaraes commented on #108
this is getting harder to get the workaround. :\

[2017-01-23 20:41] dudeinthemirror opened #111 "Question: what does `dev mode` do ?"
![screen shot 2017-01-23 at 12 38 11 pm](https://cloud.githubusercontent.com/assets/981638/22221773/36cc30e4-e169-11e6-9716-89484f295768.png)

[2017-01-24 10:01] jccguimaraes commented on #111
hey @dudeinthemirror,

Forgot to remove this in the UI, there was an option to open a project in devMode, but there is no public API to do this without a full reload / new Atom instance, so i removed that, but forgot the UI, will do a clean up though!

thanks for the checking

[2017-01-27 11:36] #111 closed

[2017-01-27 18:11] dudeinthemirror commented on #111
no worries, thanks!

[2017-01-30 18:11] GreenGremlin opened #112 "If a project is already open, switch to it rather than open a second instance"
# ISSUE
- open project A
- switch to project B (not necessary, but shows the desired end result)
- from Project Viewer, open project A again

expected:
Since project A is already open, it should be brought back to the front

actual:
A second instance of project A is open

You

## Environment
- macOS 10.12.3;
- 1.13.1;

[2017-01-31 10:25] jccguimaraes commented on #112
hey @GreenGremlin, i assume you have the option of opening each project in it's new window right?

If so, this needs investigation because I really don't know how to get the list of instances right now.

But is a nice feedback, thanks

[2017-02-09 01:57] shixukai opened #113 "Uncaught Error: The workspace can only contain one instance of item [object Object]"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.14.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 0.3.43

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-02-10 08:16] PixelT opened #114 "FEAUTERE: support mouse click on project list"
Please add support mouse click to select project from project list, because now I can only select project by using keyboard

[2017-02-10 10:28] jccguimaraes commented on #114
hey @PixelT,

thanks for this issue!
need to check it out but you are more than welcome to contribute also 😄 .

I can only pick it up in the weekend probably though

[2017-02-10 10:29] jccguimaraes commented on #113
hey @shixukai,

thanks for reporting this, will sure investigate this out.

thank you

[2017-02-13 13:49] #50 closed

[2017-02-13 13:49] #22 closed

[2017-02-13 13:49] #107 closed

[2017-02-13 13:49] #61 closed

[2017-02-13 13:50] #114 closed

[2017-02-13 13:50] jccguimaraes commented on #57
decided for just gist

[2017-02-13 13:50] #57 closed

[2017-02-13 13:51] #109 closed

[2017-02-13 14:14] asitemade4u opened #115 "Database not found after update"
# ISSUE
The updates to version 1.0.0 then version 1.0.1 have taken place.
But when I open Project Viewer again, a message tells the project database cannot be found and no project is displayed.
How can I recover them?

## Environment
- **OS**: Ubuntu 16.04 LTS;
- **Atom**: 1.41.1;

[2017-02-13 14:17] jccguimaraes commented on #115
please go to `menu -> Project-Viewer -> Utilities -> Convert from 0.3.x ...`

Please inform me if this resolves, it is actually not a bug, but something i don't want the project to automatically do

[2017-02-13 15:07] pete-hotchkiss opened #116 "Lost project settings"
# ISSUE
Project settings have gone AWOL. Provide documentation for how to upgrade from previous setup

## Environment
- **OS**: Windws;
- **Atom**: 1.14.1;

## Steps
Installed latest version 1.0.1 and all project settings have been nuked :-1: Nothing in the right hand pane at all

![image](https://cloud.githubusercontent.com/assets/16895748/22888524/f2a79fb6-f1fd-11e6-8799-00db025f1ed0.png)

[2017-02-13 15:09] jccguimaraes commented on #116
hey, i need to fix it. see #115 please

[2017-02-13 15:33] jccguimaraes commented on #115
Please update to `1.0.3` sorry about this...

[2017-02-13 15:33] jccguimaraes commented on #116
Please update to `1.0.3` sorry about this...

[2017-02-13 16:10] felddy opened #117 "Auto hide does not unhide on mouse-over"
# ISSUE
When selecting the "Sidebar auto hidding" setting the side bar collapses as expected.  On mouse-over it does not unhide.   Also "hiding" is spelled incorrectly in the settings page.

## Environment
- **OS**: Mac OS X 10.12.13: 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64
- **Atom**: 1.15.0-beta1
- **project-viewer**: 1.0.3

#

[2017-02-13 16:11] zhudock opened #118 "Uncaught TypeError: Cannot read property 'visible' of null"
# ISSUE
Uncaught TypeError: Cannot read property 'visible' of null.

## Steps
With Project Viewer panel closed, attempt to open the panel

## Environment
**Atom**: 1.14.1 ia32
**Electron**: 1.3.13
**OS**: Microsoft Windows 7 Professional
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.3

### Stack Trace

Uncaught TypeError: Cannot read property 'v

[2017-02-13 16:11] devnox commented on #115
Im currently using 1.0.3 version and its not working. I tried to Convert from 0.3.x and still nothing. Please advice.

[2017-02-13 16:14] zhudock commented on #118
Same issue using Atom 1.14.1 x64

[2017-02-13 16:15] girlandhercode commented on #115
First: Thank you for all of the work that went into this package. It is fantastic.

The upgrade may or may not have solved the original issue, however, I still had to toggle "Disable" for the package and then re-"Enable" it to get the project sidebar to show up. My project list and all info is still there, however it will not show up at all without the toggling of the package state.  I'll post my

[2017-02-13 16:44] jccguimaraes commented on #115
@devnox let me check this issue. I have two guys here that migrated well.
Can you check if you really have the file like `~/.atom/storage/project-viewer.json`?

[2017-02-13 16:45] jccguimaraes commented on #115
@girlandhercode does in config you have `Display On Startup` and `Panel visibility interaction state` checked?

[2017-02-13 16:46] jccguimaraes commented on #117
@felddy i can confirm this, will fix it sorry

[2017-02-13 16:53] jccguimaraes commented on #117
will try to make a batch of latest errors

[2017-02-13 17:14] girlandhercode commented on #115
@jccguimaraes These are my settings:
![image](https://cloud.githubusercontent.com/assets/2183606/22894120/ec832776-f1e5-11e6-979b-3db25c3690c4.png)

[2017-02-13 17:24] jccguimaraes commented on #115
@girlandhercode thank you for the feedback, let me see this later tonight. This was a major refactor. Didn't expect all these issues :) :( let's see.

Appreciate the patience... :full_moon_with_face:

[2017-02-13 18:18] zhudock commented on #118
Confirmed the Enable\Disable discussed in #115 seems to resolve the issue.

[2017-02-13 18:56] #117 closed

[2017-02-13 18:56] #118 closed

[2017-02-13 19:11] felddy commented on #117
Confirming panel now hides as expected in 1.0.4.  Thank you for the quick response and fix.

[2017-02-13 19:13] jccguimaraes commented on #115
@girlandhercode, made two fixes, can you check? if not, do you have `tree-view` active? thankx

[2017-02-13 19:17] jccguimaraes commented on #117
#nice

[2017-02-13 19:19] zhudock opened #119 "No more errors, but panel refuses to open via Toggle Panel."
# ISSUE
No more errors, but panel refuses to open.
## Workaround
Disable then Enable the plugin (required each session)

## Steps
With Project Viewer panel closed, attempt to open the panel

## Environment
**Atom**: 1.14.1 ia64
**Electron**: 1.3.13
**OS**: Microsoft Windows 7 Professional

### Non-Core Packages

[code]

[2017-02-13 19:23] jccguimaraes commented on #119
damn :(

[2017-02-13 19:28] girlandhercode commented on #115
@jccguimaraes I still have to toggle "Disable" then re-"Enable" the package to get the sidebar to show up, however, I am no longer experiencing #118 either so progress is good!!

I have tried the following:

- going to "Packages" -> "Project Viewer" -> "Toggle Panel"
-  opening Atom's command pallet ( `ctrl`-`shift`-`p` ) and selecting "Project Viewer: TogglePanel"
-  The project viewer default ke

[2017-02-13 19:31] jccguimaraes commented on #115
will investigate more

[2017-02-13 19:32] girlandhercode commented on #119
Related to this ( maybe? ) I just used the command pallet to "Project Viewer Focus Panel" and then tried to use the arrow keys to navigate thru the project list over there. This threw an error I had not encountered before:

[Enter steps to reproduce:]

1. use the command pallet to "Project Viewer Focus Panel"
2. try to use the arrow keys to navigate thru the project list in the focus panel

**Atom

[2017-02-13 20:00] jccguimaraes commented on #116
@pete-hotchkiss, any update?

[2017-02-13 20:32] devnox commented on #115
@jccguimaraes yes i have ~/.atom/storage/project-viewer.json

[2017-02-13 20:33] devnox commented on #115
I get that error:

[2017-02-13 20:57] jccguimaraes commented on #115
@devnox, i know it is asking too much but can you PM your file? prob if you have gist of it (dont use import/export for now if you have this issue)

[2017-02-13 20:59] devnox commented on #115
Hey I just found something. I moved the panel to the right side position and after that moved it to the left side without Auto hidding. I think there is something in Auto Hidding option.

[2017-02-13 21:39] pete-hotchkiss commented on #116
Sorry - crazy afternoon. The utils > conversion trick worked a treat :+1:

[2017-02-13 22:52] philip-hodder commented on #115
I also get the database corruption error. This is with 1.0.4.

[2017-02-14 06:15] eduardomart commented on #96
So I am having this issue again

All projects are gone and every time I restart Atom I get this:
![screen shot 2017-02-13 at 10 13 31 pm](https://cloud.githubusercontent.com/assets/1833020/22917468/f0b9e13c-f239-11e6-8e6b-a79e6dd4d21d.png)

[2017-02-14 06:30] eduardomart commented on #96
Sorry I see it now, I was going to Atom > Packages > Project Manager instead of the Packages menu. I think that did fix it.

[2017-02-14 06:30] #96 closed

[2017-02-14 07:38] #116 closed

[2017-02-14 07:46] jccguimaraes commented on #119
@girlandhercode your latest feedback should be also fixed in `1.0.5`

[2017-02-14 07:50] PixelT opened #120 "Panel autohide doesn't work?"
Hi - panel autohide in version > 1.0.x doesn't work as earlier?
If I check this option I have fadeIn / fadeOut the project list when I hover on panel
I expected, that on hover the whole panel will be show / hide, not only the items on it....

[2017-02-14 08:01] jccguimaraes commented on #120
@PixelT hey, thanks for the feedback,

Can you make a screenshot?

If i activate the config the panel autohides not just the list, as well as I do the shortkey combination.

[2017-02-14 08:08] PixelT commented on #120
http://recordit.co/RLtWPA7H9H
I hope now it's more clearly ;)

[2017-02-14 08:21] jccguimaraes commented on #120
it is actually. you are using it on the lwft. need to validate classes :) thanks

[2017-02-14 08:22] PixelT commented on #120
On right side this same situation :)

[2017-02-14 08:37] jccguimaraes commented on #120
now you just killed me LOL

[2017-02-14 13:36] jccguimaraes commented on #120
@PixelT what is the exact version you got? of the package?

[2017-02-14 13:38] PixelT commented on #120
project-viewer - 1.0.5
atom - 1.14.1

[2017-02-14 13:41] jccguimaraes commented on #120
@PixelT found the issue, just check the config `customWidth` and remove the value on it. or double click in the extreme (resizer) of the project-viewer main window then restart. I will be fixed.

It continues to be a bug and i will fix this ok?

Sorry

[2017-02-14 14:02] devnox commented on #115
After last update I again can not see my projects.

[2017-02-14 14:38] jccguimaraes commented on #115
@devnox and @philip-hodder, using the utilities -> migrate from `0.3.x` don't work i really don't know why you can't get it to work.
Just for troubleshooting, you came from a `0.3.x` and not `0.2.x` right?

Any ways,  if you can send a snippet of the file in PM that would be great also. I am really sorry for this :(

[2017-02-14 16:37] girlandhercode commented on #119
@jccguimaraes I am not getting the error message anymore but the sidebar won't open via Packages -> Project Viewer -> Toggle Panel or when using the command pallet to toggle it.  The keybind won't toggle it either.

If i go into the package settings and change "Panel Position" to anything other than what it is currently the panel will show up. This does not survive a restart of atom, however, rega

[2017-02-14 17:54] colorful-tones commented on #115
I've been away from my computer (unusual) for a few days and just updating all the things in Atom and got the error message:

I perused this ticket, and then did the following steps in exact sequence:

1. `menu -> Project-Viewer -> Utilities -> Convert from 0.3.x`
2. `Disabled` Project Viewer package
3. `Enabled` Project Viewer package
4. Restarted Atom
5. The sidebar projects were restored and no

[2017-02-14 17:57] jccguimaraes commented on #115
@colorful-tones, thanks for this feedback, i hope it can solve some issues for the short run, i will be diving all of this and hopefully come to a final solution. i have identified the issues regarding the auto hide at least but it is not a simple fix due to the major refactor i did. sorry :D

[2017-02-14 18:18] philip-hodder commented on #115
Running the "Utilities > Convert from 0.3.x" tool worked great! I think this should maybe be at the top of the readme file, at least for a few releases! Other than that this seems to be an excellent update! Thanks!

[2017-02-14 18:28] jccguimaraes commented on #115
@philip-hodder, thank god! just missing now for @devnox to work :( thank you for the vote of confidence on the update. there were a lot of changes, and there is still some big ass issues.

[2017-02-14 18:46] girlandhercode opened #121 "Uncaught TypeError: context.model.clearPaths is not a function"
[Enter steps to reproduce:]

1. Right click on a folder in tree view
2. Select "Elevate to project..."
3. Fill out the PV Editor for the project
4. Hit "CREATE"

**Atom**: 1.14.1 ia32
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Enterprise
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.5

### Stack Trace

Uncaught TypeError: context.model.cl

[2017-02-14 19:28] jccguimaraes commented on #121
i am adding you to the contributors list

[2017-02-14 20:08] jccguimaraes commented on #121
adding you as well @colorful-tones. @girlandhercode do you all mind me adding you?

[2017-02-15 02:18] jccguimaraes commented on #121
a fix will be on next patch release

[2017-02-15 02:59] CKLFP commented on #119
I've notice that if auto hide is active and from command pallet to "Project Viewer Focus Panel... well the panel won't get visible (auto unhide)... but that is not an issue I'm more than ok with that :) congrats.

[2017-02-15 03:02] jccguimaraes commented on #119
@CKLFP working on it ;p

[2017-02-15 07:55] OhDerAlex opened #122 "How to add groups / projects !?"
Downloaded the newest project viewer files - and now the "right click" doesn't work anymore. How can I edit / add / delete groups and / or projects!?

[2017-02-15 08:23] OhDerAlex commented on #122
ok found.. Menu Packages > Project-Viewer > Open editor...
but why no right click anymore? :(

[2017-02-15 08:38] devnox commented on #115
Hello again.
The problem here is that the Auto hiding is not working properly. When I enabled the auto hiding feature the panel is not hidding, only the projects disapear but project viewer panel stays on and empty.

[2017-02-15 08:40] jccguimaraes commented on #122
will make it available @OhDerAlex! there is a shortkey also for now. sorry

[2017-02-15 08:41] jccguimaraes commented on #115
it is almost ready the autohide! just hang there people :(

[2017-02-15 08:50] OhDerAlex commented on #122
Cool, thx.
And I like the changes - nice work!

[2017-02-15 09:32] feketegy opened #123 "All my previous projects are gone when updated to the newest version"
# ISSUE

The error I'm getting is "Local database corrupted"

## Environment
- **OS**: Mac OSX El Capitan;
- **Atom**: 1.14.2 x64;

![screen shot 2017-02-15 at 11 29 59](https://cloud.githubusercontent.com/assets/489775/22968286/75175e6c-f372-11e6-8706-2c252f097702.png)

[2017-02-15 09:34] feketegy commented on #123
Actually this solution fixed my issue: https://github.com/jccguimaraes/atom-project-viewer/issues/115#issuecomment-279403876

[2017-02-15 11:21] jccguimaraes commented on #115
can you all please validate with `1.0.6` is this issue is resolved?

[2017-02-15 11:42] devnox commented on #115
It is getting better. Now anytime i start Atom i need to Toggle Panel to get it working.

[2017-02-15 11:44] jccguimaraes commented on #115
@devnox what are the 2 and 3 option of the pv config. by the way, you recovered your DB?

[2017-02-15 11:48] devnox commented on #115
Yeah Database is recovered.
I'm attaching a screenshot of what I have.
![pv-conf](https://cloud.githubusercontent.com/assets/1416251/22973126/6b97c5d0-f385-11e6-9155-cadf9ebe00e1.jpg)

[2017-02-15 11:51] jccguimaraes commented on #115
@devnox, there you have. 2nd and 3rd option are related. `Display on startup` -> you need to check the 3rd. so it is displayed on startup.

[2017-02-15 12:47] zhudock commented on #119
Toggle Panel still doesn't open the panel. I either have to disable\enable the plugin, or change Panel Position to any other value and change it back, on each new session.

Also, regardless of the Panel visibility settings, the panel never opens on startup.

[2017-02-15 12:49] jccguimaraes commented on #119
`1.0.6` version?

[2017-02-15 12:50] zhudock commented on #119
project-viewer 1.0.6
Atom 1.14.2 x64

Otherwise, all details the same as the initial post above

[2017-02-15 12:54] jccguimaraes commented on #119
@zhudock not doubting you, and with so many issues, you confirm this does not work? https://github.com/jccguimaraes/atom-project-viewer/issues/115#issuecomment-279991305

[2017-02-15 12:58] zhudock commented on #119
Yep. I have Display on Startup selected in the dropdown and Panel visibility interaction state is checked.

[2017-02-15 13:08] devnox commented on #115
Just great! Its working now!

[2017-02-15 13:12] jccguimaraes commented on #115
@devnox. cool

[2017-02-15 13:27] jccguimaraes commented on #115
closing this issue if you all don't mind... :+1:

[2017-02-15 13:27] #115 closed

[2017-02-15 13:28] jccguimaraes commented on #120
@PixelT can you validate this is working properly now?

[2017-02-15 13:30] #123 closed

[2017-02-15 13:45] PixelT commented on #120
Seems to be work OK now :)
Thanks!

[2017-02-15 13:46] #120 closed

[2017-02-15 13:47] PixelT commented on #120
But another "issue"
Earlier when I click right mouse on the panel I have options like: "Create group, create project, edit project / group" etc.
Now it is gone? :(

[2017-02-15 13:48] jccguimaraes commented on #120
:( #122

[2017-02-15 13:48] jccguimaraes commented on #120
hold on to your pants :smile:

[2017-02-15 13:49] PixelT commented on #120
Oh I see, so I will be monitored it there 😄

[2017-02-15 13:51] jccguimaraes commented on #122
been asked to implement an alike `open in finder / explorer`, what do you think? I still need to investigate this as well

[2017-02-15 15:18] girlandhercode commented on #119
1.0.6 is still having a similar issue as before with the panel only being able to be opened by "Enable"/"Disable" toggling or by changing panel position.

If the panel is open and I close and then reopen  atom the panel is not there and I have to follow the same steps to get it to open again.

I also have "Display on startup" and "Panel visibility interaction state" selected/checked.  I don't use

[2017-02-15 19:41] jccguimaraes commented on #119
i am running out of clues :(

[2017-02-15 21:54] CKLFP commented on #119
Hi, have the version 1.0.6 installed, and every thing is ok in here (Windows 10 - updated)... so I suspect is some conflic with another package maybe...
I don't have a a key shortcut but all other methods to toggle are ok.
Good luck.

[2017-02-16 08:24] orkank opened #124 "Can't create project"
# ISSUE
Can't create project or groups, Can't find utilities section.

## Environment
- **OS**: Macos Sierra;
- **Atom**: 1.14.2 x64;
- Any other particularity;

## Steps
1. Automatically updated from 0.3
2. All projects are gone
3. Restart, Alert messages
4. Can't find Utilities section
5. Uninstall complately
6. Reinstall but same issue

![atom](https://cloud.githubusercontent.com/assets/9553986

[2017-02-16 08:36] jccguimaraes commented on #124
hey @orkank.

it ia like the notification says. you need to go to `packages - project viewer - utilities - convert 0.3.x`,

as for creating. for now you have `open editor`. i am getting context menu back up

[2017-02-16 09:02] orkank commented on #124
There are no utilities in "Packages -> Project Viewer"

[2017-02-16 09:24] jccguimaraes commented on #124
:scream: screenshot please. there should be

[2017-02-16 09:35] orkank commented on #124
Oh I have fixed now, I was looking for Utilities in package settings 🤗  I've just checked the top menus 😣

Thank you for your interest.

[2017-02-16 09:35] #124 closed

[2017-02-16 09:44] jccguimaraes commented on #124
no problem. it was a major version update

[2017-02-16 20:52] jccguimaraes commented on #122
@OhDerAlex next release will have feature back plus one more

[2017-02-16 20:54] jccguimaraes commented on #119
yeah, next is to pick one by one the packages @girlandhercode listed to see if it matches

[2017-02-16 21:08] girlandhercode commented on #119
My installed packages:

activate-power-mode-delete@0.6.1 **(Disabled)**
advanced-open-file@0.16.5
ask-stack@2.2.0
atom-beautify@0.29.17
atom-clock@0.1.3
atom-jinja2@0.6.0
atom-material-ui@1.3.9 **(Active UI Theme)**
atom-monokai@0.10.9
atom-panda-syntax@0.18.0
AtomicFreckle@0.2.0
autocomplete-paths@1.0.5 **(Disabled)**
autoupdate-packages@1.3.1
browser-plus@0.0.87 (Disabled)
captain-sweetheart@1.0

[2017-02-17 04:03] jccguimaraes commented on #122
@OhDerAlex check it on `1.0.7` release please

[2017-02-17 05:09] girlandhercode commented on #119
I disabled tobasco (not needed anymore since you can natively drag tabs in atom now - and its throwing an error regardless), git-plus, and merge-conflicts since we have overlap with those.  I can now successfully toggle via the shortcut keys or the command pallet.  I have since re-enabled git-plus and merge conflicts and I am still able to toggle successfully. Project Viewer now also remembers sta

[2017-02-17 06:50] siteleas opened #125 "Uncaught TypeError: Cannot read property 'getAttribute' of undefined"
[Enter steps to reproduce:]

1. Right click a project and click edit
2. Changed the colour and clicked update and then the error was fired

**Atom**: 1.14.2 x64
**Electron**: 1.3.13
**OS**: Linux Mint
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.7
**User**: root

### Stack Trace

Uncaught TypeError: Cannot read property 'getAttribute' of undefi

[2017-02-17 08:06] OhDerAlex commented on #122
Hey. Updated now. Thanks a lot! :)

[2017-02-17 08:15] #122 closed

[2017-02-17 08:15] jccguimaraes commented on #125
messed up here. wait for next release please

[2017-02-17 12:23] zhudock commented on #119
Confirmed the issue with tabasco. After disabling that plugin, all is working great. Thanks again for all of your efforts!

[2017-02-17 12:44] jccguimaraes commented on #119
thank you all for the effort in sorting this out @zhudock, @girlandhercode, @CKLFP. Although the source of the problem has been found, i will do in time, investigate why, and try to make it both work simultaneously.

Thank you all!

[2017-02-17 12:44] #119 closed

[2017-02-17 18:04] jccguimaraes commented on #125
@siteleas, can you please validate again? thanks

[2017-02-18 08:01] #125 closed

[2017-02-20 13:57] stephen-last opened #126 "Folder structure keeps collapsing when switching projects"
# ISSUE
I've updated Project Viewer today to the latest version, and now the folder structure on the left keeps collapsing when switching between projects. This didn't happen before, and as I'm sure you can imagine, can be frustrating if you're working on files deep in a folder structure, and you're switching between projects.

## Environment
- **OS**: Windows 7 Pro;
- **Atom**: 1.14.3 ia32;
- **P

[2017-02-21 06:58] jccguimaraes commented on #126
hey @stephen-last,

You are right, missed something in the new workflow. Thanks for pointing this out.

The last major refactor would be indeed on the context switching. A lot as changed in Atom's core, so i need to dig further. And sometimes it's going beyond the public API so there is always an inside debate if i should walk such paths. But hey, it's for the community!

Thanks for the last note

[2017-02-21 20:25] GreenGremlin opened #127 "Panel is suddenly displaying inside the sidebar"
# ISSUE
Previously the Project Viewer panel was outside the sidebar, when placed on the left. With the latest update, it now displays inside the sidebar. It made more sense to have the project panel to the left of the sidebar.

## Environment
- **OS**: MacOS 10.12.3;
- **Atom**: 1.14.2;

## Steps
- update to Project Viewer 1.0.9
- set the panel to display on the left
- view the positioning of the

[2017-02-21 20:30] GreenGremlin opened #128 "Project Viewer panel shows no projects"
After updating to 1.0.9, the panel shows no projects

![image](https://cloud.githubusercontent.com/assets/647452/23183495/1d651330-f831-11e6-8a06-64f4ca63984d.png)

I also see no projects when I use "shift-ctrl-alt-l: toggle the select list modal"

## Environment
- **OS**: MacOS 10.12.3 ;
- **Atom**: 1.14.2;
- **Project Viewer**: 1.0.9;

## Steps
See above

[2017-02-21 20:32] GreenGremlin commented on #128
Here is what I see for the select list

![image](https://cloud.githubusercontent.com/assets/647452/23183675/bcb98182-f831-11e6-8e89-3f6b34511717.png)

[2017-02-21 20:34] jccguimaraes commented on #128
hey,

there was a warning saying go to `Menu -> Packages -> Project Viewer -> Utilities -> Convert...`

this will convert the old to new

[2017-02-21 20:35] jccguimaraes commented on #127
there is two options for displaying left and right. that is last and first. please play around to see if feets your needs

[2017-02-21 20:35] GreenGremlin commented on #128
Ok, that fixed it. Thanks!

[2017-02-21 20:36] jccguimaraes commented on #128
:)

[2017-02-21 20:36] #128 closed

[2017-02-21 20:36] GreenGremlin commented on #127
Left now places it to the left of the editor, but to the right of the sidebar. Right places it to the right of both.

[2017-02-21 20:38] GreenGremlin commented on #127
Ah, sorry. Left (first) does it. The option names are a bit confusing.

[2017-02-21 20:40] jccguimaraes commented on #127
sorry mate.

Left (first) -> left of tree.view
Left (last) -> between tree.view and the editor
Right is indiferent if you dont have anything else.

if this not solve can you make screenshot? as i may not understand your point

[2017-02-21 20:40] jccguimaraes commented on #127
:) not the best naming things :)

[2017-02-21 20:45] #127 closed

[2017-02-23 21:28] lakonis opened #129 "lost all groups and projects after update"
# ISSUE
After update to 1.0.9 and restart, project viewer is empty of groups and projects.

## Environment
- **OS**: Linux Ubuntu 16.04;
- **Atom**: 1.14.2;

## Steps
I just updated through package update module in Atom.

[2017-02-23 21:35] lakonis commented on #129
In the project-viewer menu > convert
!

[2017-02-23 21:35] #129 closed

[2017-02-27 04:45] Hibryda opened #130 "Focus panel when collapsed does not open it"
I have project-viewer set to have panel auto hide. Unfortunately, when I press keys combination to focus on it, it focuses but does not unhide it. I suppose it's rather a bug. Or maybe I miss something.

[2017-03-04 02:49] rainjm opened #131 "autoHide join position: absolute;"
Such as title

When the current project-viewer is displayed, the mini map of the window will shake.

E.g：https://atom.io/packages/autohide-tree-view

[2017-03-06 10:02] PixelT opened #132 "Can't remove project color"
1. Edit project -> enable color -> select color -> save
2. Edit project again -> disable color -> save

The color for the project will be still, but shouldn't :)

[2017-03-06 10:17] jccguimaraes commented on #130
sorry the delay, needed some break from the plugin, will try to investigate and have a solution!

[2017-03-06 10:17] jccguimaraes commented on #131
sorry the delay, needed some break from the plugin, will try to investigate and have a solution!

care to contribute?

[2017-03-06 10:18] jccguimaraes commented on #132
hey, thanks

will try to investigate and have a solution for this.

[2017-03-07 05:56] jccguimaraes commented on #131
@rainjm, been trying to make sense of this, can you please elaborate more on the subject?

Thanks

[2017-03-07 15:49] rainjm commented on #131
- Want to [https://atom.io/packages/autohide-tree-view] this effect

- Show or hide the time does not affect the preparation of code area

- Because the occupation of part of the editor width will squeeze the code area, the visual sense of jitter

[2017-03-07 15:53] jccguimaraes commented on #131
hey @rainjm, that makes sense thanks! will make it possible. thanks for the contribution

[2017-03-09 11:27] Goldskin opened #133 "Pigments is not reloaded when switching between projects"
# ISSUE
Hello,
there's a problem when i'm switching project: if there's a color in a scss variable, and it's a the same name between the two, the wrong color is shown in the code

## Environment
- **OS**: OSX;
- **Atom**: 1.14.4;

## Steps
Open a project with a scss variable ($color-primary), then switch to a second project with the same scss variable ($color-primary), it's the first project's col

[2017-03-09 11:35] jccguimaraes commented on #133
hey @Goldskin,

thanks for pointing this out. I think the problem here is from the the serialization/deserialization of atom. without an actual reload / restart, some of the packages, are obviously on the atom's core funcitonality.

I managed to make linter (by a hack) restart i believe, but yes, i need to find a more dynamic way to reattach / restart / reset / wtv plugins that are active on each

[2017-03-18 00:17] jccguimaraes commented on #132
@PixelT, please validate this!

[2017-03-18 00:17] #132 closed

[2017-03-18 00:17] jccguimaraes commented on #131
@rainjm, please validate this (through a config option)

[2017-03-18 00:17] jccguimaraes commented on #130
@Hibryda, please validate this

[2017-03-18 00:17] #130 closed

[2017-03-18 00:18] jccguimaraes commented on #126
@stephen-last, please validate this

[2017-03-18 00:52] rainjm commented on #131
The trigger area is not close to the edge of the screen, and the edge of the screen gap, easy to move into the gap inside, the list disappeared

[2017-03-18 01:21] jccguimaraes commented on #131
sorry @rainjm, but i didn't understand your point

[2017-03-19 11:22] dexif opened #134 "ISSUE: Error on opening project"
Steps to reproduce:

1. Just open any project

**Atom**: 1.16.0-beta0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.10
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.10

### Stack Trace

Uncaught TypeError: Cannot read property 'packageStates' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-19 11:27] PixelT commented on #134
I just wanna add this same bug ;)
👍

[2017-03-19 13:15] jccguimaraes commented on #134
and you also on beta channel?

[2017-03-19 17:05] jccguimaraes commented on #134
@dexif and @PixelT please check this out now

[2017-03-19 17:46] dexif commented on #134
**Atom**: 1.16.0-beta0 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.10
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.11

### Stack Trace

Uncaught TypeError: Cannot read property 'tree-view' of undefined

[code]

[2017-03-19 17:56] jccguimaraes opened #135 "ISSUE - devicons not showing"
# ISSUE
*devicons* not showing

## Environment
- **OS**: Any;
- **Atom**: Any;
- Any other particularity;

## Steps
Can't reproduce, just that some people don't have the devicons properly rendered

[2017-03-19 18:06] jccguimaraes commented on #134
hope `1.0.12` solves this

[2017-03-19 18:58] dexif commented on #134
Yes, it works ;)

[2017-03-19 21:17] #134 closed

[2017-03-20 04:37] Hibryda commented on #130
Hi, can confirm it works as expected now (1.0.12). Thanks a lot.

[2017-03-20 04:43] Hibryda opened #136 "Keyboard navigation not possible in new project/group creator"
As in title of this issue. TAB navigation (and any other actually) not working in this view. Also, as a side note, clicking "CREATE" before filling any fields raises error, while it should rather be not possible (disabled button).

[2017-03-20 09:05] rainjm commented on #131
![kapture 2017-03-20 at 16 59 39](https://cloud.githubusercontent.com/assets/9592236/24093409/a3366942-0d8e-11e7-8bbe-8a6915616226.gif)
![kapture 2017-03-20 at 17 02 04](https://cloud.githubusercontent.com/assets/9592236/24093474/fa6b524a-0d8e-11e7-9db1-63685722ef3b.gif)

I am sorry, my english is poor
Look at the picture, there is a lacunae

[2017-03-20 09:27] stephen-last commented on #126
@jccguimaraes Hi, I don't think this is working... I've updated to the latest version (1.0.12) this morning.

If I have two projects listed in Project Viewer, I select the first one, open a folder in the tree view, then select the second one, and back again to the first, the folder has closed. The folder state (open) wasn't remembered when switching between projects.

I'm on Atom 1.15.0 now which

[2017-03-20 10:22] rainjm opened #137 "Toggle project, linter-ui-default disappear"
![kapture 2017-03-20 at 18 19 14](https://cloud.githubusercontent.com/assets/9592236/24095865/05ca88f8-0d9a-11e7-9ec8-7adf2b0cce04.gif)

Toggle project, [linter-ui-default](https://atom.io/packages/linter-ui-default) does not appear, disappear

[2017-03-20 10:26] jccguimaraes commented on #137
yeah, this issue was fixed in `1.0.12`, can you confirm that it still happens?

[2017-03-20 10:30] rainjm commented on #137
O, I did not update, thanks

[2017-03-20 10:31] jccguimaraes commented on #137
:)

[2017-03-20 10:34] jccguimaraes commented on #126
hummm, that is really weird. can you access the *devTools* and type `atom.packages.getActivePackage('tree-view')`?

[2017-03-20 10:42] jccguimaraes commented on #137
let me know if this is fixed

[2017-03-20 10:44] jccguimaraes commented on #131
@rainjm, thanks for this input, now i understand you :) will try to make this more UX friendly. :thumbs_up:

[2017-03-20 10:53] stephen-last commented on #126
Yep, i get this:

The object has lots of properties, is there something in there that might help..?

[2017-03-20 10:59] jccguimaraes commented on #126
if you can debug the line `252` in `project-view.js` would be great because that should be good.

`devtools -> source -> cmd+o -> write project-view.js`

if that is too much is ok

[2017-03-20 11:08] stephen-last commented on #126
I've taken a look, and in `C:\Users\stephen.last\.atom\packages\project-viewer\src\project-view.js` at line `251` it has your update code that starts `// hack to make tree-view update on project switching`.

[This code](https://github.com/jccguimaraes/atom-project-viewer/commit/734a08b3a34e93386e2922290a53456fea5aac76) is there...

I can't tell you anything about the code though, I've never done a

[2017-03-20 11:16] jccguimaraes commented on #126
hummm this link is from a previous version. Are you sure you are running atom `1.1.15` and pv `1.0.12`? i know you said you are, although the code for tree-view is the same. it seems that it is not entering in the if condition. debug is easy, is just clicking on the line in the source

![pv_cgp_02](http://static.gitscout.com/d6cdab3c5f6d5ce7595b6c8550be884ed7b22e7a039096c7f20bbcd6c5ad7343.gif)

[2017-03-20 11:27] stephen-last commented on #126
I'm not running Atom `1.1.15`, I'm running `1.15.0`, which Atom is telling me is the latest version. PV is `1.0.12` as shown in the settings under packages.

That's a cool amin you've sent. I can add a breakpoint, but I can't see the values when I hover over the variables like you can.

[2017-03-20 11:43] stephen-last commented on #126
Ok... I'm getting the hang of this debug... When I click on a project, I see this:

![debug](https://cloud.githubusercontent.com/assets/16349203/24098479/6d143a5a-0d62-11e7-98db-072fa50e0d19.jpg)

[2017-03-20 11:44] stephen-last commented on #126
`serialization` is `undefined`.

[2017-03-20 11:45] jccguimaraes commented on #126
now we are getting somewhere :) you don't have serialization, which means, the context is not being saved, so if you go back and forward in projects, it will not do anything, can you check in the pv confs if you have checked `keepContext` or something like that?

[2017-03-20 11:50] stephen-last commented on #126
Yes, I have `Keep Context` ticked...

![settings](https://cloud.githubusercontent.com/assets/16349203/24098625/56eb541a-0d63-11e7-8ed7-5a7f9eab6d78.jpg)

[2017-03-20 11:58] jccguimaraes commented on #126
hummm, ok, so i found the issue here.
when you keep context, you ain't closing the current files opened PV just updates the tree-view files. PERIOD.

When you don't keep context, when you switch between projects, it will unload/load context to that project, including the tree-view state / scroll.

It's a bug, because i should save the tree-view state, scroll and width regarding the keep context.

[2017-03-20 12:14] jccguimaraes commented on #126
no problem. i do this for the community :)

[2017-03-22 13:48] #137 closed

[2017-03-31 15:14] phillipbroberts opened #138 "Uncaught TypeError: Cannot read property 'clients' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.12

### Stack Trace

Uncaught TypeError: Cannot read property 'clients' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-31 15:17] phillipbroberts commented on #138
This was actually a problem I was creating for myself. My bad.

[2017-04-06 03:27] ArturoEduartes commented on #138
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Unknown Windows version
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.12

### Stack Trace

Uncaught TypeError: Cannot read property 'clients' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

![image](https://cloud.githubusercon

[2017-04-06 11:23] JasonSi opened #139 "Uncaught SyntaxError: Invalid regular expression: /\/: \ at end of pattern"
[Enter steps to reproduce:]

Search an icon with a string like this 'foo\\', which is a word end with back slashes.

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.4
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.12

### Stack Trace

Uncaught SyntaxError: Invalid regular expression: /\/: \ at end of pattern

[code]

[2017-04-06 12:45] jccguimaraes commented on #139
nice catch! :)

[2017-04-06 13:01] jccguimaraes commented on #138
i have validated this as an actual bug, which is already fixed
this happens when you migrate from 0.3.x and actually you don't have any db for that version.

[2017-04-08 21:19] Hammster commented on #135
I have the same issue again, 'devicons' as a font is loaded from another plugin in my case from toolbar. And sadly there are two diffrent devicons out there, my first idea would be to prefix our devicons font as file to prevent overriding and then also change the font name with the same prefix.

![logo](https://cloud.githubusercontent.com/assets/1093709/24832463/5fd11ecc-1cb1-11e7-854f-7d7ab633099

[2017-04-08 21:26] Hammster opened #140 "Error when creating a node without selecting a node type"
When creating a new node and no type is selected you can still press `Create`, which creates a error.

This should be handled or the `Type` selection radio should have a default selected. Also a little UX improvement 💪

[2017-04-08 22:27] jccguimaraes commented on #135
this is awsome! Thanks. Let's pick each other's brain on this

[2017-04-08 22:30] jccguimaraes commented on #140
did this help out?

https://github.com/jccguimaraes/atom-project-viewer/blob/929623ebb47264604662a28e6278620c98e71002/src/editor-view.js#L652

[2017-04-08 23:00] Hammster commented on #140
Yep, but UX wise defaulting would be better. Or at least provide a small alert, so that the user knows what he forgot to set.

[2017-04-08 23:18] Hammster commented on #135
Preferable, we ditch the iconfonts in favor of SVG generally since we can have the advantage of electrons crossplatform consistant enviroment. 💻

The main advantages are

- Preventing font conflicts
- Not dependant on the charset
- Better antialiasing
- Extensible
  - For custom icons
  - Possibility to allow users to have their own icons

The possible downside would be

- Rewrite of the system ho

[2017-04-09 00:21] jccguimaraes commented on #135
cool work!

just one quick note, can we take them without breaking their license?

[2017-04-09 00:33] Hammster commented on #135
MIT, we have to credit them and add a copy of the license which should not be a problem. Same for octicons ;)

[2017-04-09 08:23] jccguimaraes commented on #140
so you think it's best to make it default like to `project`?

[2017-04-09 13:15] Hammster commented on #140
correct. then you have one click less for the default scenario.
Btw did you not had `create project` and `create group` in the context menu? Was there a reason to add the layer of the interface in between there? Or did you plan future use of the pane for a later expansion?

Sorry if I am bit nitpicky here 😸

[2017-04-12 06:30] jccguimaraes commented on #108
@jaredreich this has been fixed, will run some more tests, and try to add some more features / issues to the next release!

[2017-04-13 13:39] skratchdot commented on #113
I'm seeing this pop back up in the new beta release:

[Enter steps to reproduce:]

1. Open Atom
2. Switch projects in the project viewer

**Atom**: 1.17.0-beta0 x64
**Electron**: 1.3.14
**OS**: Mac OS X 10.12.4
**Thrown From**: [project-viewer](https://github.com/jccguimaraes/atom-project-viewer) package 1.0.12

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [

[2017-04-13 15:42] jccguimaraes commented on #113
hey @skratchdot thanks for point this out, will have a look 👍

[2017-04-15 13:35] Duncank opened #142 "Uncaught TypeError: Cannot read property 'createView' of null"
# ISSUE
When switching projects, the console opens with the following error:

## Environment
- **OS**: Windows 10, 64 bit;
- **Atom**: 1.16.0;
- **Project Viewer**: 1.0.12
- I've also got the Seti-UI theme installed, which shows an error as well. However, when on the default Atom theme, this project viewer-error remains.

## Steps
Switch to another project.
![o16ind](https://cloud.githubuserconten

[2017-04-15 14:08] jccguimaraes commented on #142
hey @Duncank, thanks for pointing this out, will fix this

[2017-04-19 22:00] eduardomart opened #143 "Weird spacing next to project viewer"
# ISSUE
I have one project in my list that always has this weird padding next to the Project Viewer sliding drawer., see here:
![atom-weird-spacing](https://cloud.githubusercontent.com/assets/1833020/25204091/c0d49e1c-2510-11e7-82ce-e5cd7aa22c6c.gif)

## Environment
- macOS 10.12.4
- atom 1.16.0
- project viewer 1.0.12

## Steps
I even tried removing this one project and adding it again, but the s

[2017-04-20 06:23] jccguimaraes commented on #112
@GreenGremlin, this is fixed, let me try to fix some more issues so i can release another version.

[2017-04-20 06:59] jccguimaraes commented on #143
have you right clicked on it to see if it's an empty panel laying around?

[2017-04-20 12:38] devnox commented on #142
When this will be fixed?

[2017-04-20 16:56] eduardomart commented on #143
right click will show me a "close tag" option, clicking on it doesn't do anything

![screen shot 2017-04-20 at 9 55 32 am](https://cloud.githubusercontent.com/assets/1833020/25242748/9b28afa6-25af-11e7-8e50-d0c82ad30cf3.png)

[2017-04-21 04:20] jccguimaraes commented on #142
sorry @devnox, been fixing others, yeah will pick this today i hope

[2017-04-21 05:04] jccguimaraes commented on #142
please validate

[2017-04-21 05:04] jccguimaraes commented on #139
please validate

[2017-04-21 05:04] jccguimaraes commented on #138
please validate

[2017-04-21 05:05] jccguimaraes commented on #112
please validate @GreenGremlin

[2017-04-21 05:35] JasonSi commented on #139
Looks great! Thank you.

[2017-04-21 05:35] #139 closed

[2017-04-21 07:34] Duncank commented on #142
No errors here anymore. Thanks for the quick fix!

[2017-04-21 09:16] #108 closed

[2017-04-21 09:17] #142 closed

[2017-04-21 09:17] #138 closed

[2017-04-21 09:17] #112 closed

[2017-04-21 18:29] jccguimaraes commented on #113
@skratchdot can you confirm this still happens in the `1.0.13`? thanks

[2017-04-21 18:30] jccguimaraes commented on #135
@Hammster any updates on this ? :)

[2017-04-21 18:56] skratchdot commented on #113
@jccguimaraes - it still seems to be happening for me in `1.0.13`:

![project-manager](https://cloud.githubusercontent.com/assets/434470/25292066/a109360e-26a2-11e7-926d-f993d5d9e9d3.gif)

[2017-04-21 19:19] jccguimaraes commented on #135
https://github.com/file-icons/DevOpicons

[2017-04-22 01:15] Hammster commented on #135
@jccguimaraes jep, i am working on the changes just had to do it in small bits. I hope i'll be done in the next days. Also the icons look sharper, i'll give you a screenshot tomorrow.

[2017-04-22 09:55] devnox commented on #142
Great! Thank you!  :)

[2017-04-23 20:31] jccguimaraes opened #144 "FEATURE: Refactor SelectView"
Refactor to use ETCH  https://github.com/atom/atom-select-list

[2017-04-24 06:38] jccguimaraes opened #145 "DISCUSSION: Refactor to use ETCH"
One of the main reasons this package takes to long to go out on major releases is that one of the things I didn't want to use was jquery (and in this case, atom-space-pen wtv).

As stated

So what do you think making this huge refactor for the sake of the community?

**Pros:**
- will reduce a lot of code
- will make it easier for new comers to contribute

**Cons:**
- big ass refactor (again)

Give

[2017-04-25 10:42] Hammster commented on #145
I agree jQuery is an unnecessary library in atom, and in my opinion in general web by now. I absolutely approve your view there.

I really like the idea to make the system simpler without introducing too much non-js type domain specific languages. One thing I dislike on etch is that render function because this does the opposite of this.

__Example__
[code]
`<ChildComponent adjective='good'>` may

[2017-04-25 12:43] skratchdot commented on #113
@jccguimaraes - the gif is kind of bad because it starts after I had clicked my "Recent" project- and the UI was kind of hanging until the first red error showed up.  Then I clicked a second project and the second red error showed up.  So anytime I want to switch projects now, I have to restart Atom (e.g. I can only use the project that is selected when Atom opens- if I switch to a new project- no

[2017-04-26 00:03] jccguimaraes commented on #113
@skratchdot you are using beta channel right?

[2017-04-26 00:04] jccguimaraes commented on #113
https://github.com/jccguimaraes/atom-project-viewer/projects/3

[2017-04-26 00:24] skratchdot commented on #113
@jccguimaraes - yes, that's correct: the beta channel.

[2017-04-27 09:40] jccguimaraes commented on #113
@skratchdot `1.17.0` is breaking PV, so i am investigating it. I think it's mainly because `tree-view` as changed a lot.

[2017-04-27 15:49] GreenGremlin commented on #112
I'm still not seeing the 1.0.13 in Atom

[2017-04-27 15:56] skratchdot commented on #113
No worries. Just figured I'd let you know.

[2017-04-27 15:59] jccguimaraes commented on #112
what version of atom you have?

[2017-04-27 15:59] jccguimaraes commented on #113
that was well spotted mate

[2017-04-28 05:12] GreenGremlin commented on #112
1.15.0

[2017-04-28 05:34] GreenGremlin commented on #112
Ah, it looks like I have a theme that has a deprecation warning holding me back from upgrading :\

[2017-04-28 05:48] GreenGremlin commented on #112
I was able to confirm the fix, thanks!

[2017-04-28 06:12] jccguimaraes commented on #112
cool :)

[2017-04-30 23:26] jccguimaraes commented on #113
i have read in the code where the problem occurs the following

So I have a small fix/hack but it will keep files open switching between projects (if that's ok) i can make that fix until a better solution exits (in 1.16) it ain't breaking

[2017-05-01 01:44] skratchdot commented on #113
I'm fine with that behavior (but can't speak for all your other users)!  Thanks again for this project.

[2017-05-01 07:41] jccguimaraes commented on #113
published the hack into `1.0.14`. hope it smooths the problem.

[2017-05-02 01:50] skratchdot commented on #113
it's working for me! thanks @jccguimaraes!

[2017-05-02 03:27] #113 closed

[2017-05-02 06:27] jpeltoniemi opened #146 "ISSUE: Panel not showing up until the plugin is re-enabled after restart"
# ISSUE
When Atom starts the panel is not visible and cannot be toggled through Packages menu. Only when the plugin is disabled and re-enabled the panel shows up.

## Environment
- **OS**: Ubuntu 14.04;
- **Atom**: 1.15.0;

## Steps
Start Atom. Project Viewer panel cannot be toggled.

## Installed packages

[code]

[2017-05-02 06:37] jpeltoniemi commented on #146
Nevermind. The problem in my case was with file-types plugin.

Weird though that a faulty regex in another plugin causes this one to fail silently. I'll leave this issue open so this minor inconvenience can be noticed.

[2017-05-02 06:42] jccguimaraes commented on #146
@jpeltoniemi thanks for reporting but can you update atom to it's latest stable version? `1.16.0`. then please update the plugin.

hope it works

[2017-05-02 06:43] jccguimaraes commented on #146
@jpeltoniemi hummm, didnt read your second. i will have a look. many thanks

[2017-05-11 08:30] ninthart commented on #135
Just to let you know, that while I have this issue too, it only happens in Atom Beta (1.17.0-beta5), and not in the stable channel…

[2017-05-11 13:23] thomasfrobieter opened #147 "Enable/disable package per project"
Hey guys,

can we add an option to enable / disable packages per project?

**Example use case:** I have a lot of projects using sass-autocompile and remote-sync, while the new projects using gulp to solve those tasks. Sure thing.. those two solutions won't work well together.. so i need to turn off the plugins everytime i work on gulp projects.

It's similar to this https://github.com/danielbrodin

[2017-05-13 06:41] jccguimaraes commented on #147
@thomasfrobieter sorry foe the late reply. hell of couple of weeks.

That seems an interesting feature. need to dig more.

there are a couple of quesrions on my mind regarding this that could make the workflow complex.

let mw dwell a bit.